#filter-track
	margin-bottom: 80px

	h4
		font-size: 13px 
		color: $app-color !important
		margin-top: 13px
		margin-bottom: 5px


	#clear-filters-link
		padding-top:  0px
		padding-bottom: 0px
		margin-top: 0px
		margin-bottom: 0px 
		color: $text-color !important


	.checkbox
		label
			font-size:    12px
			line-height:  13px


	svg
		height: 18px 

		text
			font-size: 12px !important
			fill: $text-color !important
