#phenolyzer-results
  rect
    fill: rgb(204, 204, 204)
    stroke: rgb(146, 150, 158)

    &.selected
      fill: rgb(137, 167, 191)
      stroke: grey

    &.hover

  text
    &.name
      fill: $text-color !important
      font-size: 12px

    &.score
      fill: $text-color !important
      font-size: 11px




#get-genes-copy-paste-button.btn.btn-raised, #phenolyzer-go-button.btn.btn-raised
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12) !important
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1)

#copy-paste-li, #phenolyzer-search-box
  color: $text-color !important
  font-size: 11px

#get-genes-copy-paste-button, #phenolyzer-go-button
  font-size: 11px



#gene-badge.selected
  #gene-badge-button
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.23), 0 10px 30px rgba(0, 0, 0, 0.19)

  #gene-badge-name, #gene-badge-danger-count, #gene-badge-remove i
    font-weight: bold

#gene-badge-loaded
  font-size: 14px
  color: $heading-color
  font-weight: bold
  padding-right: 1px
  float: left
  display: none

#gene-badge
  &.visited
    #gene-badge-loaded
      display: inline

    #gene-badge-name
      color: $app-color !important

  &:hover #gene-badge-remove
    visibility: visible !important

#gene-badge-container
  display: flex
  display: -webkit-flex
  flex-flow: row wrap
  -webkit-flex-flow: row wrap
  justify-content: center
  -webkit-justify-content: center

  #manage-gene-list
    color:  $text-color !important

    &:hover
      text-decoration: underline !important

  #gene-badge-remove
    i
      color: #E0292B !important
      font-weight: bold
      font-size: 13px

    visibility: hidden

  &.manage #gene-badge-remove
    visibility: visible
     