#phenolyzer-results
  rect
    fill: rgb(204, 204, 204)
    stroke: rgb(146, 150, 158)

    &.selected
      fill: rgb(137, 167, 191)
      stroke: grey d

  text
    &.name
      fill: $sidebar-text-color !important
      font-size: 12px

    &.score
      fill: $sidebar-text-color !important
      font-size: 11px




#get-genes-copy-paste-button.btn.btn-raised, #phenolyzer-go-button.btn.btn-raised
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12) !important
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1)

#copy-paste-li, #phenolyzer-search-box
  color: $sidebar-text-color !important
  font-size: 11px

#get-genes-copy-paste-button, #phenolyzer-go-button
  font-size: 11px


#gene-badge
  margin-top: 10px
  margin-bottom: 7px
  margin-right: 3px

#gene-badge.loading
  border-left: #e8cd8e  solid 12px

#gene-badge.loading.selected
  border-left: #e8cd8e  solid 12px

#gene-badge.selected
  border-left: #a0a0a0 solid 12px
  #gene-badge-button
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.23), 0 10px 30px rgba(0, 0, 0, 0.19)

  #gene-badge-name, #gene-badge-danger-count, #gene-badge-remove i
    font-weight: bold

#gene-badge.phenolyzer
  #gene-badge-button
    border: solid 1px #9FC2D0


#gene-badge-loaded
  font-size: 14px
  color: $heading-color
  font-weight: bold
  padding-right: 1px
  float: left
  display: none

#gene-badge-warning
  float: left
  font-size: 12px
  color: rgba(230, 126, 30, 0.84)
  padding-top: 1px
  padding-right: 2px
  display: none

#gene-badge-error
  float: left
  font-size: 12px
  color: rgba(204, 29, 7, 0.67)
  padding-top: 1px
  padding-right: 2px
  display: none

#gene-badge
  &.visited
    #gene-badge-loaded
      display: inline

    #gene-badge-name
      color: $sidebar-text-color !important

  &:hover #gene-badge-remove
    visibility: visible !important

#gene-badge
  &.visited.error
    #gene-badge-loaded
      display: none
    #gene-badge-error
      display: inline

#gene-badge
  &.visited.warning
    #gene-badge-loaded
      display: none
    #gene-badge-warning
      display: inline


#gene-badge-container
  display: flex
  display: -webkit-flex
  flex-flow: row wrap
  -webkit-flex-flow: row wrap
  justify-content: center
  -webkit-justify-content: center

  #manage-gene-list
    color:  $sidebar-text-color !important

    &:hover
      text-decoration: underline !important

  #clear-gene-list
    color:  $sidebar-text-color !important

    &:hover
      text-decoration: underline !important

  #gene-badge-remove
    i
      color: #E0292B !important
      font-weight: bold
      font-size: 13px

    visibility: hidden

  &.manage #gene-badge-remove
    visibility: visible

     