#edu-tour-modal 
	top: 5%
	right: 50%
	outline: none

.modal-backdrop 
	background: transparent !important

#app-title-section 
	min-height: 60px !important

.track
	margin-top: 0px !important
	margin-bottom: 3px !important

.track-expand
	margin-top: 3px !important
	margin-bottom: 3px !important

.variant-card
	#zoom-region-chart
		display: block !important
		margin-top: -20px !important
		padding-top: 0px !important

.card-label
	font-size: 16px !important



#gene-badge-container
	#manage-genes
//		display: inline-block !important


#slider-left
	top: 62px !important

#edu-tour-modal
	
	.modal-content
		background-color: $tour-background-color !important
		
		.modal-body
			min-height:  200px !important

	.btn.btn-raised
		background-color: $tour-button-color !important
		color: white !important

#nav-edu-tour
	background-color:  $tour-background-color
	margin-bottom: 12px
	display: block !important
	height: 60px
	width: 100%
	text-align: center
	padding-top: 6px

	#start-over
		float: left !important
		margin-left: 5px !important
		margin-right: -190px !important
		font-size: 18px !important
		padding: 8px !important
		margin-top: 5px !important
		color: white !important
		background-color: $tour-button-color !important
		
	.btn.btn-raised
		color: white !important
		background-color: $tour-data-button-color !important 
		margin-left: 15px !important
		font-size: 18px !important
		padding: 8px !important
		padding-left: 10px !important
		padding-right: 10px !important
		margin-top: 5px !important

	.card-label
		color: white !important
		font-size: 20px !important

	.edu-tour-button
		width: 88px

		i.material-icons
			display: none

		&.active
			background-color: $tour-button-color !important

			i.material-icons
				display: inline-block
				color: white !important
				font-size: 15px
				padding-bottom: 3px
				padding-right: 0px !important
				float: none !important	

		&.emphasize
			background-color: $tour-hilite-color !important
			color: white !important

#tlyPageGuideWrapper 
	#tlyPageGuideMessages
		background-color: $tour-background-color !important

.tlypageguide_shadow

	&.tlypageguide-active
		background-color: transparent !important
		webkit-box-shadow: none !important
		box-shadow: none !important
		border: $tour-hilite-color solid 6px !important

.tlyPageGuideStepIndex
	opacity: 0 !important

.tlypageguide-active
	.tlyPageGuideStepIndex
		opacity: 1 !important

.tlypageguide_text
	font-size: 18px !important

	.checkbox 
		label
			font-size: 25px !important
			line-height: 25px !important
			color: #FFFFFF !important
			webkit-box-shadow: none !important
			box-shador: none

.tlypageguide_index
	display: none !important

.tlypageguide-active .tlyPageGuideStepIndex 
	color: transparent !important
	border: #F96262 solid 6px !important

.edu-tour-answer
	color: $tour-button-color !important
	font-size: 20px !important

.edu-tour-answer.incorrect
	color: #B13A3B !important
	font-size: 20px !important



span.arrow
	opacity: 0
	transition: all 0.5s ease
	position: absolute
	height: 0
	width: 0
	border: 20px solid transparent

span.arrow
	&:after 
		transition: all 0.5s ease
		background-color: rgba(165, 185, 65, 1)

.tlypageguide-active
	span.arrow
		opacity: 1 


.down 
	border-top-color: $tour-button-color !important
	top: -20px

.down
	&:after 
		content: ""
		display: block
		height: 25px
		width: 15px
		margin-left: -7px
		margin-top: -45px

.up 
	border-bottom-color: $tour-button-color !important
	bottom: -20px !important

.up
	&:after 
		content: ""
		display: block
		height: 25px
		width: 15px
		margin-left: -7px
		margin-top: 20px


.left 
	border-right-color: $tour-button-color !important
	right: -20px !important

.left
	&:after
		content: ""
		display: block
		height: 15px
		width: 25px
		margin-left: 20px
		margin-top: -7px


.right 
	border-left-color: $tour-button-color !important
	left: -20px !important

.right
	&:after
		content: ""
		display: block
		height: 15px
		width: 25px
		margin-left: -45px
		margin-top: -7px


