.level-simple
  display: none !important

#region-track.level-simple
  display: block !important
  margin-left: 0px !important

#gene-search-bar.level-simple
  display: inline-block !important
  margin-left: 50px !important


#app-disclaimer-link-right.level-simple
  clear: both
  font-size: 10px
  color: $text-color !important
  text-align: right
  margin-top: 5px
  display: block !important

#education-title.level-simple
  display: block !important

#app-disclaimer-link-left.level-simple
  display: none !important



#genes-card

  #phenolyzer-run-label-long.level-simple
    display: inline-block !important
    vertical-align: top
    margin-top: 4px

  #phenolyzer-run-label.level-simple
    display: none !important

  #phenolyzer-heading
    h5
      display: inline-block

  #phenolyzer-heading
    h5.level-simple
      display: none !important

.nav
  li.level-simple 
    display: none !important

#displayed-variant-count-label-simple
  display:  none

#displayed-variant-count-label-simple.level-simple
  display:  inline-block !important

.variant-card
  #bottom-white-space
    display: none !important

  #bottom-white-space.level-simple
    display: block !important
    height: 5px

  #gene-box
    display: none !important
    background-color:  $gene-box-color
    border: solid thin $gene-box-border-color
    margin-left: 0px
    text-align: center
    color: white

  #gene-box.level-simple
    display: block !important

#matrix-track
  #feature-matrix-note.level-simple
    display: inline-block !important
    padding-left: 95px

  #matrix-harmful-note.level-simple
    display: inline-block !important

  #feature-matrix 
    text
      font-size:  12px !important

    .colhdr 
      text 
        font-size: 11px !important

    rect.cellbox 
      stroke: white !important

    rect.colbox 
      stroke: #E0DDDD
      opacity: 1 !important
      stroke-width: 1px !important


.tooltip.level-simple 
  display: block !important

  .row   
    line-height: 18px !important

    .tooltip-title
      font-size: 12px 