.tooltip-title
  font-size: 10px
  color: #000000
  word-break: break-all

.tooltip-header
  overflow-wrap: break-all
  text-align: right
  width: 100px
  float: left
  color: $text-color
  vertical-align: top

.tooltip-row
  width: 300px
  clear: both

.tooltip-value
  overflow-wrap: break-word
  float: right
  width: 180px
  margin-right: 5px
  color: #000000

.tooltip-header
  overflow-wrap: break-all
  text-align: right
  width: 100px
  float: left
  color: $text-color

.tooltip-header-small
  overflow-wrap: break-word
  text-align: left
  width: 40px
  float: left
  color: $text-color

.tooltip-allele-count-bar
  overflow-wrap: break-word
  float: left
  width: 180px
  color: #000000


.tooltip-zygosity
  overflow-wrap: break-word
  float: left
  width: 30px
  color: black
  text-align: left
  padding-right: 2px
  padding-left: 2px

.tooltip-subtitle
  font-size: 10px
  text-align: center
  color: $text-color
  padding-top: 4px
  font-weight: bold
  padding-bottom: 1px

.tooltip-footer
  color: #376F9C !important


.tooltip a
  color: #376F9C !important
  font-size: 11px !important
  font-weight: bold !important

  &:hover, &:focus
    color: #376F9C !important
    font-size: 11px !important
    font-weight: bold !important


.tooltip a
  &:hover, &:focus
    color: #376F9C !important
    font-size: 11px !important
    font-weight: bold !important


.tooltip
  position: absolute
  z-index: 20
  background-color: white
  color: $text-color
  padding: 4px 6px 4px 6px
  font-size: 10px
  border-radius: 4px
  pointer-events: none
  text-align: left
  top: 371px
  pointer-events: all
  border: 1px outset rgb(213, 213, 213)
  opacity: 1
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16)

.tooltip
  font-family: $app-font, sans-serif !important

rect
  &.alt-count
    stroke: black !important

  &.ref-count
    stroke: black !important
    fill: none !important

  &.alt-count
    fill: #6A9C2F !important

text
  &.alt-count
    fill: white !important

  &.alt-count-under
    fill: black !important  
    

#examine-card .tooltip-allele-count-bar
  overflow-wrap: break-word
  float: left
  width: 105px
  color: #000000

#examine-card
  font-size: 10px

  .tooltip-title
    font-size: 11px
    color: #000000

  .tooltip-header
    overflow-wrap: break-word
    text-align: right
    width: 80px
    display: inline-block !important
    float: none
    color: $text-color

  .tooltip-row
    width: 210px
    clear: both
    margin-bottom: 3px

  .tooltip-value
    overflow-wrap: break-word
    margin-left: 10px
    width: 115px
    margin-right: 5px
    display: inline-block !important
    float: none
    color: #000000

  .tooltip-footer #unpin
    display: none !important


 
#examine-card a
  color: #376F9C !important
  font-size: 11px !important
  font-weight: bold !important

  &:hover, &:focus
    color: #376F9C !important
    font-size: 11px !important
    font-weight: bold !important

  color: #376F9C !important
  font-size: 11px !important
  font-weight: bold !important
   

