.iobioapp {
    font-size: 24px;
    color: #5d809d;
    margin-top: 0px;
}
.iobio {
    font-size: 24px;
    margin-top: 0px;
}
.iobioproject {
    margin-left: 20px;
}


@media screen and (max-device-width:800px), screen and (max-width:800px) {
  .iobio {
      font-size: 18px !important;
  }

  .iobioapp {
      font-size: 18px !important;
  }

  .iobioproject {
     font-size:16px;
  }

}

