$app-color:            #5d809d

$heading-color:        #5d809d
//$heading-color:      #81A966

$text-color:           rgb(113,113,113)

$tooltip-label-color:  #888787
$tooltip-text-color:   #484343

$current-color:        rgb(53, 134, 192)

$current-frame-color:  #969696

//$footer-color:         #4C6880 
$footer-color:         #636161
//$footer-color:         #717171
$footer-text-color:    #A1D882

$link-color:           #2E73AB

$iobio-font:           'Quicksand'

$app-font:             'Quattrocento Sans', sans-serif 


//$sidebar-color: 		 #E6E6E6 
//$sidebar-body-color: 	 #55595B 
//$sidebar-text-color:      white
//$sidebar-link-color:     #8BBDDC
//$sidebar-label-color:   #C7C5C5
//$sidebar-button-color:  #797979


//$sidebar-color: 		 #717171
$sidebar-color: 		 $footer-color
$sidebar-body-color: 	 white
//$sidebar-body-color: 	 #DEDEDE
$sidebar-text-color:     $text-color
$sidebar-link-color:     $app-color
$sidebar-label-color:    $tooltip-label-color
$sidebar-button-color:   transparent

$gene-box-color:         rgba(93, 128, 157, 0.63)
$gene-box-border-color:  rgb(93, 128, 157)
