$app-color:         #5d809d
//$app-color:       #596488

$heading-color:     #81A966
//$heading-color:   #87964A

$text-color:        rgb(132,132,132)

$current-color:     rgb(53, 134, 192)

$footer-color:      #4C6880 
//$footer-color:    #3C4A59

$iobio-font:        'Quicksand'

$app-font:          'Quattrocento Sans', sans-serif 

