

.ibo-gene .utr { 
  fill: rgb(49, 102, 147);
  stroke: #0B5388;
  opacity: .4;
}
.ibo-gene .cds { 
  fill: rgb(49, 102, 147);
  stroke: #0B5388;
  opacity: .7;
}
.ibo-gene .transcript.selected .utr { 
  fill: #58DA00;
  stroke: #50A019;
  opacity: .4;
}
.ibo-gene .transcript.selected .cds { 
  fill: #58DA00;
  stroke: #50A019;
  opacity: .8;
}

.ibo-gene .transcript.selected .reference {
  stroke: rgb(0, 0, 0);
  stroke-width: 1.5px;
}
.ibo-gene .reference { 
  stroke: rgb(150,150,150); 
}
.ibo-gene .name { 
  font-size: 13px; fill: 
  rgb(120,120,120); 
}
#transcript-menu-item.ibo-gene .name { 
  font-size: 11px; fill: 
  rgb(120,120,120); 
}
#transcript-menu-item.ibo-gene .name:hover { 
  cursor: pointer;
  fill: black;
  font-style: bold;
}
.ibo-gene .arrow { stroke: rgb(150,150,150); fill: none; }
.ibo-gene .axis path, .ibo-gene .axis line { fill: none; stroke: lightgrey; shape-rendering: crispEdges; }
.ibo-gene .x.axis text{ font-size: 13px; }
.ibo-gene .tooltip {   
  position: absolute;           
  text-align: center;           
  z-index:20;
  color:white;
  padding: 4px 6px 4px 6px;             
  font: 11px arial;        
  background: rgb(80,80,80);   
  border: 0px;      
  border-radius: 4px;           
  pointer-events: none;         
}