

body {
  font-family: 'Quattrocento Sans', sans-serif;
  /* try this out 
  background-color: rgb(255, 255, 255);
  color: #66615b; 
  font-family: 'AvenirNextLTW01-Regular', Helvetica, Arial, sans-serif;
  */

  /* for bold with new font
  font-family: 'Avenir Next LT W01 Bold';
  */
}

.alert {
    width: 570px;
    background-color: rgb(249, 237, 184);
    border: solid 1px rgb(237, 201, 103);
    color: rgb(132, 132, 132);
    text-align: center;
    font-size: 12px;
    padding: 6px;
}

.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -2px !important;
    right: 0 !important;
}

.sidebar-button.selected  {
   box-shadow: 0 6px 10px rgba(0,0,0,.23),0 10px 30px rgba(0,0,0,.19);
   font-weight: bold !important;
} 

#phenolyzer-results rect {
    fill: rgb(204, 204, 204);
    stroke: rgb(146, 150, 158);
}
#phenolyzer-results rect.selected {
    fill: rgb(137, 167, 191);
    stroke: grey;
}
#phenolyzer-results rect.hover {  
}
#phenolyzer-results text.name {
      fill: rgb(132,132,132) !important;
      font-size: 12px;
}
#phenolyzer-results text.score {
      fill: rgb(132,132,132) !important;
      font-size: 11px;
}

#select_side_bar_chosen.chosen-container-single .chosen-single {
    line-height: 30px !important;
    height: 30px !important;
    width: 200px;
    font-size:14px;
    color: #81A966;
    background-color:white;
}
#select_side_bar_chosen.chosen-container-single .chosen-single div {
  top: 5px !important;
}
.chosen-container-single .chosen-single {
  border-radius: 0px;
  line-height: 20px;
  height:      20px;
  background: none;
  box-shadow: 0 1px 6px rgba(0,0,0,.12),0 1px 6px rgba(0,0,0,.12);
  border: none;
}


.chosen-container-single .chosen-drop {
  border-radius: 0px;
}
.chosen-container-single .chosen-single div b {
    background: url('chosen-sprite.png') no-repeat 0px 0px;
}

#vcf-sample-box .chosen-container {
  font-size: 11px;
}

.hint {
  color: rgba(208, 66, 66, 0.95);
  font-size: 12px;
}

.label {
  padding: 3px 6px 3px 6px !important;
}

.label-warning {
  background-color: #DB4F36;
  padding-bottom: 2px;
}
.label-primary {
    background-color: #6D9652;
}


/* for use cases page */
.usecases li {
  padding-top: 20px;

}
.usecases li .inline {
  color: rgb(160,160,160);
  margin-left: 10px;
  font-family: helvetica;
}

.poweredby {
  margin-right: 10px;
  color: white !important;
}

.todo {
  visibility: hidden !important;
}

#bookmark-card {
  padding: 5px;
}

#bookmark-card .bookmark {
  font-size: 10px;
  cursor: pointer;
  display: block;
  text-align: left;
  padding-top: 4px;
}

#get-genes-copy-paste-button.btn.btn-raised,
#phenolyzer-go-button.btn.btn-raised {
    box-shadow: 0 1px 6px rgba(0,0,0,.12),0 1px 6px rgba(0,0,0,.12) !important;
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
}
#copy-paste-li,
#phenolyzer-li {
      color: rgb(132,132,132) !important;
      font-size: 11px;
}
#get-genes-copy-paste-button,
#phenolyzer-go-button {
      font-size: 11px;  
}

#gene-badge-danger-count {  
  font-size: 10px;
  /*padding-bottom: 6px;*/
}

.btn.btn-fab {
  box-shadow: 0 1px 6px rgba(0,0,0,.12),0 1px 6px rgba(0,0,0,.12);
}
/*#gene-badge.selected #gene-badge-circle,*/
#gene-badge.selected #gene-badge-button{
  box-shadow: 0 6px 10px rgba(0,0,0,.23),0 10px 30px rgba(0,0,0,.19); 
}
#gene-badge.selected #gene-badge-name,
#gene-badge.selected #gene-badge-danger-count,
#gene-badge.selected #gene-badge-remove i.mdi-content-clear
{
  font-weight: bold; 
}
#gene-badge.visited #gene-badge-name {
  color: #5d809d !important;
}
#gene-badge:hover #gene-badge-remove {
  visibility: visible !important;
}

#gene-badge-container #gene-badge-remove .mdi-content-clear {
  color: #E0292B !important;
}
#gene-badge-container #gene-badge-remove {
  visibility: hidden;
}
#gene-badge-container.manage #gene-badge-remove {
  visibility: visible;
}

.tooltip-title {
  font-size: 10px;
  color: #000000;
}

.tooltip-header {
  overflow-wrap: break-word;
  text-align:right;
  width: 100px;
  float:left;
  color: rgb(132,132,132);

}

.tooltip-row {
  width:300px;
  clear:both;
}

.tooltip-value {
  overflow-wrap: break-word;
  padding-left: 10px;
  float:right;
  width: 180px;
  margin-right: 5px;
  color: #000000;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.tlypageguide_shadow {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0);
}

.tlypageguide_shadow.tlypageguide-active {
  background-color: rgba(240,103,103,0.2);
  webkit-box-shadow: 0 0 1px 1px rgba(240, 103, 103, 0.25);
  box-shadow: 0 0 1px 1px rgba(240, 103, 103, 0.25);

}

#tlyPageGuideWrapper #tlyPageGuideMessages a.tlypageguide_close, 
#tlyPageGuideWrapper #tlyPageGuideMessages a.tlypageguide_close:hover,
#tlyPageGuideWrapper #tlyPageGuideMessages a.tlypageguide_close:focus {
  color: white !important;
}


.dropdown-menu>li>a {
  color: #333 !important;
}




/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #616161;
}

.card-label {
  color: #81A966 !important;
  text-transform: uppercase;
}

.keep-case {
  text-transform: none !important;
}

#variant-card-label {
    float: left;
    margin-left: 2px;
    margin-right: 1px;
    text-align: left;
    color: #5d809d;  
}


#sample-data-label {
  color: rgba(132, 132, 132, 1);  
}

.btn.btn-fab {
  background-color: white !important;
  padding: 5px !important;
  font-size: 16px !important;
  width: 26px !important;
  height: 26px !important;
  color: white !important;
}

.btn.btn-default.btn-fab {
  color: grey !important;
}
.btn.btn-danger.btn-fab {
  color: rgb(215, 48, 39) !important;
}

.btn.btn-success.btn-fab {
  color: green !important;
}

.badge-label {
 color: #5d809d;
 font-size: 13px;
}

#variant-badges a:hover, #variant-badges a:focus {
  background: white;
}

#variant-badges .nav>li>a:hover, #variant-badges .nav>li>a:focus {
  text-decoration: none;
  background-color: white;
}

a, a:hover, a:focus {
  color: #5d809d !important;
}

.chosen-container a {
  color: rgb(132,132,132) !important;
}

.tooltip a, .tooltip a:hover, .tooltip a:focus {
  color: #4E961D !important;
}

#variant-card-buttons a.selected {
  font-weight: bold;
}


.form-control-wrapper .material-input:before {
  background-color: #5d809d !important;
}

.chart-label {
  color:  #5d809d;
  margin-left:4px;
  font-size: 11px;
}

.togglebutton label {
  font-weight: 400;
  cursor: pointer;
  font-size: 11px;
}

.checkbox label .check {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  top: 7px;
  left: -3px;
  margin-right: 11px;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 2px 7px 1px 7px !important;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: rgb(132, 132, 132);
  text-align: center;
  white-space: nowrap;
  border: rgb(132, 132, 132);
  border-style: solid;
  vertical-align: baseline;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border-width: 1px;
}

.material-dropdown .form-control { background: white;}
.material-dropdown li.disabled { color: rgb(210,210,210); cursor:auto }
.material-dropdown li.disabled:hover { background: white}
.material-dropdown li:hover { background: rgb(200,200,200);}

#feature-matrix rect.cellbox {
  fill: white;
  stroke: rgb(230, 230, 230);
  stroke-width: 2px;
}

#feature-matrix rect.cellbox:hover {
  cursor: pointer;
  font-weight: bold;  
}


#feature-matrix .col.active rect.cellbox {
  fill: rgb(242, 242, 242);
}


#feature-matrix rect.colbox {
  fill:none;
  opacity: 0;
  pointer-events: none;
}

#feature-matrix rect.colbox.current {
  stroke: rgb(0, 0, 0) !important;
  stroke-width: 1px !important;
  opacity: 1;
  pointer-events: none;
}



#feature-matrix text {
  font-size: 10px;
  fill:  rgb(120,120,120);
  pointer-events: none;
}

#feature-matrix .axis .tick text.current {
  font-weight: bold !important;
  fill: black !important;
}

#feature-matrix .y.axis .tick .up polygon,
#feature-matrix .y.axis .tick .down polygon {
   fill:  rgb(186, 186, 186);
   stroke: black;
   stroke-opacity: .55;
   stroke-width: 1px;
}

#feature-matrix .y.axis .tick text:hover,
#feature-matrix .y.axis .tick text:hover {
   font-weight: bold;
   fill: rgb(53, 134, 192);
}

#feature-matrix .y.axis .tick text.current,
#feature-matrix .y.axis .tick text.current {
   font-weight: bold;
   fill: rgb(53, 134, 192);
}


#feature-matrix .y.axis .tick text.active,
#feature-matrix .y.axis .tick text.active {
   font-weight: bold;
   fill:rgb(53, 134, 192);
}


#feature-matrix .y.axis .tick .up polygon:hover,
#feature-matrix .y.axis .tick .down polygon:hover {
   cursor: pointer;
}

#feature-matrix .y.axis .tick {
    pointer-events: all;
}
#feature-matrix .y.axis .tick .up.faded,
#feature-matrix .y.axis .tick .down.faded
{
    opacity: .3 !important;
}

.icon {
  width: 30px;
  height: 30px;
  background: #eee;
}



#recessive-symbol .parent .left {
  stroke: #FB7737;
}
#recessive-symbol .parent .right {
  stroke: grey;
  stroke-width: 1;
}
#recessive-symbol .proband .left,
#recessive-symbol .proband .right {
  stroke: #FB7737;
}

#denovo-symbol .parent .left {
  stroke: grey;
}
#denovo-symbol .parent .right {
  stroke: grey;
}
#denovo-symbol .proband .left,
#denovo-symbol .proband .right {
  stroke: #E0292B;
}

/* Trio button in data card */
#trio-symbol .parent .left {
  stroke: #5d809d;
}

#trio-symbol .parent .right {
  stroke: #5d809d;
}
#trio-symbol .proband .left,
#trio-symbol .proband .right {
  stroke: #5d809d;
}



.blues_1{fill:rgb(247,251,255) !important}
.blues_2{fill:rgb(222,235,247) !important}
.blues_3{fill:rgb(198,219,239) !important}
.blues_4{fill:rgb(158,202,225) !important}
.blues_5{fill:rgb(107,174,214) !important}
.blues_6{fill:rgb(66,146,198) !important}
.blues_7{fill:rgb(33,113,181) !important}
.blues_8{fill:rgb(8,81,156) !important}
.blues_9{fill:rgb(8,48,107) !important}
.blues_10{fill:rgb(8,48,107) !important}



#nav-section {
  position:fixed;
  width:100%;
  z-index:2;
  right:0px;
  background-color: white;
  margin-bottom: 8px;
  /*min-height: 160px;
  max-height: 160px;*/
}

section {
    /*height: 60px;*/
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    clear: both;
}



#color-scheme {
  font-size: 11px;
  margin-bottom: 10px;
  color: rgb(102, 88, 92);
}

.radio label {
  cursor: pointer;
  padding-left: 30px;
  position: relative;
  padding-top: 2px;
  font-size:11px;

}

.radio, .checkbox {
  position: relative;
  display: inline;
  margin-top: 0px;
  margin-bottom: 0px;
}

#container {
  margin-top:0px; 
  margin-bottom: 10px; 
  margin-left: 4px; 
  margin-right: 4px;
}


.hide {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.box-shadow {
  box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.15);
}


.track { 
    display:         flex;
    display: -webkit-flex;
            flex-direction: row;
    -webkit-flex-direction: row;
    align-items: flex-start;
    background-color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
    margin-bottom: 8px;

    
}
.track-info {
            order: 1;
    -webkit-order: 1;
            flex: 0 0 220px;
    -webkit-flex: 0 0 220px;
    color: rgb(120,120,120);
    margin-right: 10px;   
    font-size: 18px;
    max-width: 220px;

}

.track-expand {
  font-size: 14px;
  display: block;
  background-color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.track-chart {
            order: 2;
    -webkit-order: 2;
            flex:  1 0 auto;
    -webkit-flex:  1 0 auto;
}

.bars .chartlabel {
  font-size: 8px;
  fill: white;  
}

.bars .chartlabel.missing {
  fill: none;
}

 .tooltip rect.alt-count, 
 .tooltip rect.ref-count {
  stroke: black;
 }
 .tooltip rect.ref-count {
   fill:none;
 }
.tooltip rect.alt-count {
    fill: rgb(93, 128, 157);
}
.tooltip text.alt-count {
  fill: white;
}

.poweredbyheader {
    font-size: 16px;
    color: #A2CC86 !important;
    font-family: Quicksand;
    margin-top:3px;
    margin-bottom: 5px;

}

.iobio {
    font-size: 34px;
    color: rgb(132, 132, 132);
    font-family: Quicksand;
    float: left;
    margin-top: -8px;
}

.beta {
  background: #F06767;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  color: white;
  font-size: 19px;


}

.iobioapp {
    font-size: 34px;
    color: #5d809d;
    font-family: Quicksand;
    float: left;
    margin-top: -8px;
    margin-left: 25px;
}

.iobioproject {
    font-size: 18px;
    color: rgb(118, 99, 99);
    font-family: Quicksand;
    line-height: 45px;
    float: left;
    margin-top: -5px;
    margin-left: 5px;
   
}

#app-title-section {
  text-align: center;
  background: white;
  padding-bottom: 7px !important; 
}


.chart rect {
    fill: rgb(49, 102, 147);
}

.bar rect {
    opacity: .75;
    fill: rgb(49, 102, 147);
}

.bar rect.selected {
  fill: rgb(60, 159, 244);
}


#non-protein-coding {
  text-align: center;
  padding-bottom:4px;
}
#non-protein-coding.hidden {
  visibility: hidden;
} 

#region-track {
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top:5px;
  color: rgb(132, 132, 132);
  font-size: 14px;
  margin-left: 100px;
}
#gene-name {
  font-size: 16px !important;
  color: #5d809d;
  font-weight:bold;
}
#gene-region-info {
  padding-left: 10px;
}
#gene-region-start {
}
#gene-region-end {
  padding-left: 5px;
}

#view-finder-track {
    align-items: center;
}
#view-finder-chart {
}

#region-chart .axis text  {
    font-size: 15px;
    fill: rgb(120,120,120);
}

#gene-track {
  padding-top: 0px;  
  margin-top: 15px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-left: 14px;
  padding-right: 14px;
  clear: both;
}

#bam-track {
  margin-bottom: 0px ;
  margin-top: -40px ;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  clear: both;
}

#vcf-track {
  padding: 0px;
  margin: 0px;
}
#track-legend {
  margin-top: 10px;
}
#vcf-count {
  display: none;
}
#vcf-legend {
  display: none;
}
#filter-and-rank-card {
  display: table;
  margin-top: 8px;
}
#filter-track {
  display: table-cell;
  min-width: 260px;
  margin-top: 0px;
  margin-bottom: 0px;

}
#matrix-track {  
  width: 100%;
  display: table-cell;
}

#filter-panel {
  font-size: 11px;
  color: rgb(102, 88, 92);
  fill: rgb(102, 88, 92);
  margin-top: 2px;
  overflow-y: auto;
}

#fb-track {
}
#fb-legend {
  display: none;
}
#fb-count {
  display: none;
}


#st-track {
  display: none;
}




.loader img {
  height: 22px;
  width: 22px;
}
.loader {
  text-align: center;
  background-color: white;
  display: table;
  padding-right:2px;
  padding-left:2px
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.loader-label {
  color: rgb(111,111,111);
  font-size: 14px;    
}

.variant-card .vcfloader {
  text-align: center;  
  background-color: white;
  display: table;
  padding-right:2px;
  padding-left:2px
  margin-top: 0px;
  margin-bottom:10px;
}

.variant-card #bam-track .loader {
    margin-top: -0px !important;
    margin-bottom: 5px !important;
}



.stats-box { 
    display:        flex;
    flex-direction: row;
    align-items:    center;

}
.stats-chart {
            order: 1;
    -webkit-order: 1;
            flex:  0 0 180px;
    -webkit-flex:  0 0 180px;
   
}
.stats-label {
  margin-bottom: 0px;
}

.variant-count {
          order: 2;
  -webkit-order: 2;
          flex: 0 0 40px;
  -webkit-flex: 0 0 40px;
  font-size: 12px;
  margin-top: -8px;
  text-align: center;
}






.hollow-button {
    padding: 10px 27px;
    border: 1px solid #3d8901;
    font-size: 16px;
    color: #3d8901;
    top: 50%;
    background-color: white;
    text-decoration: none;
}

.hollow-button:hover {
    color: white;
    background-color: #3d8901;
}

.hollow-small-button {
    padding: 4px;
    border: 1px solid #3d8901;
    font-size: 12px;
    color: #3d8901;
    top: 50%;
    background-color: white;
    text-decoration: none;
    font-family: quicksand;
    margin-bottom: 4px;
    
}
.hollow-small-button:hover {
    color: white;
    background-color: #3d8901;
}

header {
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
}



#url-go-button  {  
}

#url-input {
  padding: 6px 4px !important;
  font-size:10px;
}

#bam-url-input-group {
  visibility: hidden;
}

#bam-url-go-button  {  
}

#bam-url-input {
  padding: 6px 4px !important;
  font-size:10px;
}



.file {
  padding-left: 10px;
  margin-top: 4px;
}
.file-button{
    float:right;
    cursor: pointer;
    margin-left: 10px;
}
.file label {
  float: left;
  font-weight: normal;
  width: 100%;
  margin-left: -8px;
  margin-bottom: 0px;
  padding-left: 18px;
  height: 25px;
}
.file label:hover {
  background-color: #eee;
}
.file input {
  position: absolute;
  display: inline-block;
  left: 10;
  top: 0;
  opacity: 0.01;
  visibility:hidden;
  cursor: pointer;
} 


#vcf-track .bookmark rect {
  fill: none;
  stroke: black;
  stroke-width: 2;
  opacity: .5;
}

#vcf-track .bookmark.current rect {
  stroke: rgb(215, 48, 39);
  opacity: 1;
}

#vcf-track .bookmark line {
  stroke: black;
  stroke-width:1.5;
  opacity: .5;
}

#vcf-track .bookmark.current line {
  stroke: rgb(215, 48, 39);
  opacity: 1;
}

#vcf-track .bookmark polygon {
  fill:black; 
  opacity: .5;
}
#vcf-track .bookmark.current polygon {
  fill: rgb(215, 48, 39);; 
  opacity: 1;
}

.arrow_box {
    position: relative;
    background: #ffffff;
    border: 2px solid grey;
    border-radius: 4px;
}
.arrow_box:after, .arrow_box:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 20px;
    left: 78%;
    margin-left: -20px;
}
.arrow_box:before {
    border-color: rgba(45, 143, 193, 0);
    border-bottom-color: grey;
    border-width: 23px;
    left: 78%;
    margin-left: -23px;
}                          
.arrow_box input {
    border: none;
    outline: none;
    width:  87%;
    margin: 8px;
    color: grey;
    font: 400 18px;
}
.arrow_box button { 
  font: 28px;
  margin-top: 4px;
}

#add-track {
  visibility: hidden;
}

#call-variants-button {
    visibility: hidden;
}

#bam-depth {
    text-align: left; 
    margin-top: 10px; 
}


#bam-depth .circle, 
#vcf-variants .circle, 
#fb-variants .circle, 
#vcf-variants .arrow-line, 
#fb-variants .arrow-line {
  stroke: rgba(221, 109, 109, 1);
  stroke-width: 2;
  fill: none;
}

#vcf-variants .circle.emphasize, 
#fb-variants .circle.emphasize, 
#vcf-variants .arrow-line.emphasize, 
#fb-variants .arrow-line.emphasize  {
  stroke:  rgba(221, 109, 109, 1);
  fill: none ;
  stroke-width: 3 ;
}
#vcf-variants .arrow, 
#fb-variants .arrow {
  fill:  rgba(221, 109, 109, 1);
  stroke-width: 2;
  stroke:  rgba(221, 109, 109, 1);
}
#vcf-variants .arrow.emphasize, 
#fb-variants .arrow.emphasize {
  fill:  rgba(221, 109, 109, 1);
  stroke-width: 3;
  stroke: rgba(221, 109, 109, 1);
}
#bam-depth .circle-label {
   fill:  rgba(221, 109, 109, 1);
   font-size: 10px;
   font-weight: bold;
}


.bar {
  stroke: black;
  stroke-width: 1;
}
.bar.missing {
  stroke: none;
  stroke-width: 0;
  stroke: none;
  fill: none;
  opacity: 0;
}


#bam-depth path.line {
  stroke: black;
  stroke-width: 1;
  fill: none;
  opacity: .5;
}

.area-chart-gradient-top {
  stop-color: grey;
  stop-opacity: 0.1;
}

.area-chart-gradient-bottom {
  stop-color: grey;
  stop-opacity: 0.6;
}


.axis text {
    font-size: 10px;
    fill: rgb(120,120,120);
}


#zoom-region-chart .axis text  {
    font-size: 10px;
    fill: rgb(120,120,120);
    font-style: italic;
}



#zoom-region-chart {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: -30px; 
    margin-bottom: 0px;
    padding-bottom: 0px;
}
#zoom-region-ref-name {
}
#zoom-region-start {
  float: left;
  width: 80px;
  font-size: 12px;
  color:  rgb(120,120,120);
}
#zoom-region-end {
  float: right;
  width: 80px;
  font-size: 12px;
  color: rgb(120,120,120)
}



.axis line, .axis path { 
    fill: none; stroke: lightgrey; 
    shape-rendering: crispEdges; 
    stroke-width: 1px;
}


#gene-viz .axis line, #gene-viz .axis path, 
#zoom-region-chart .axis line, #zoom-region-chart .axis path { 
    fill: none; stroke: lightgrey; 
    shape-rendering: crispEdges; 
    stroke-width: 3px;
}



.brush .extent {
  stroke: #000;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}


.tooltip {   
  position: absolute;           
  z-index:20;
  background-color: white;
  color: rgb(132,132,132);
  padding: 4px 6px 4px 6px;             
  font-size: 9px;          
  border-radius: 4px;           
  pointer-events: none;   
  text-align: left;
  top: 371px;
  pointer-events: all;
  border: 1px outset rgb(213, 213, 213);
  opacity: 1;   
  box-shadow: 0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);   
}




.variant {
  opacity: 1;
  stroke: #000;
  stroke-width: 1px;
  stroke-opacity: .3;
}


.filter-symbol {
  stroke: #000 !important;
  stroke-width: 1px !important;
  stroke-opacity: .3 !important;
}

.ibo-variant .reference { 
  stroke: rgb(150,150,150); 
}
.ibo-variant .name { 
  font-size: 18px; fill: rgb(120,120,120); 
}
.ibo-variant .arrow { 
  stroke: rgb(150,150,150); 
  fill: none; 
}
.ibo-variant .axis path, .ibo-variant .axis line { 
  fill: none; 
  stroke: lightgrey; shape-rendering: crispEdges; 
}
.ibo-variant .axis { 
  font-size: 10px; 
}

.brush-line {
  stroke: rgb(150,150,150); 
  stroke-dasharray: 5,5;
}

.dashed {
  stroke: rgb(150,150,150); 
  stroke-dasharray: 5,5;
}

.divider text {
  font-size: 12px;
  fill: rgb(120,120,120);
}


.impact_HIGH{
  fill: #E0292B !important;
  color: #E0292B !important;
  font-weight: bold;
} 
.impact_MODERATE{
  fill: #F49A73 !important;
  color: #F49A73 !important;
  font-weight: bold;
} 
.impact_MODIFIER{
  fill: rgba(244, 217, 155, 1);
  color: rgba(244, 217, 155, 1);
}
.impact_LOW { 
  fill: rgba(181, 207, 107, 0.65);
  color: rgba(181, 207, 107, 0.65);
}
.impact_NOIMPACT, .impact_none, .effect_none { 
  fill: #FAF5BE ;
  stroke: #807D7D;
}


.effect_transcript_ablation {
  fill: #ff0000;
}
  
.effect_splice_acceptor_variant  {
  fill: #FF581A;
}

.effect_splice_donor_variant {
  fill: #FF581A;
}

.effect_stop_gained {
  fill: #ff0000;
}
  
.effect_frameshift_variant {
  fill: #9400D3;
}
  
.effect_stop_lost {
  fill : #ff0000;
}
  
.effect_start_lost {
  fill: #ffd700;
}
  
.effect_transcript_amplification {
  fill: #ff69b4;
}
  
.effect_inframe_insertion {
  fill: #ff69b4;
}
  
.effect_inframe_deletion {
  fill :#ff69b4;
}
  
.effect_missense_variant {
  fill :#ffd700;
}
  
.effect_protein_altering_variant  {
  fill :#FF0080;
}
  
.effect_splice_region_variant {
  fill: #ff7f50;
}
  
.effect_incomplete_terminal_codon_variant  {
  fill :#ff00ff;
}   

.effect_synonymous_variant {
  fill: #76ee00;
}
  
.effect_coding_sequence_variant {
  fill: #458b00;
}
  
.effect_mature_miRNA_variant {
  fill: :#458b00;
}
  
.effect_5_prime_UTR_variant {
  fill: #7ac5cd;
}
  
.effect_3_prime_UTR_variant {
  fill: #7ac5cd;
}

.effect_non_coding_transcript_exon_variant {
  fill: #32cd32;
}
  
.effect_intron_variant {
  fill: #02599c;
}
  
.effect_NMD_transcript_variant {
  fill :#ff4500;
}
  
.effect_non_coding_transcript_variant {
  fill: #32cd32;
}

.effect_upstream_gene_variant {
  fill: #a2b5cd;
}
  
.effect_downstream_gene_variant { 
  fill:#a2b5cd;
}
  
.effect_TFBS_ablation {
  fill: #a52a2a;
}
  
.effect_TFBS_amplification {
  fill:#a52a2a;
}
  
.effect_TF_binding_site_variant {
  fill: #a52a2a;
}
  
.effect_regulatory_region_ablation {
  fill: #a52a2a;
}
  
.effect_regulatory_region_amplification {
  fill: #a52a2a;
}
  
.effect_feature_elongation {
  fill: #7f7f7f;
}
  
.effect_regulatory_region_variant  {
  fill: #a52a2a;
}
  
.effect_feature_truncation {
  fill: #7f7f7f;
}
  
.effect_intergenic_variant {
  fill: #636363;
}

.effect_synonymous_variant {
  fill: #76ee00;
}
  
.effect_coding_sequence_variant {
  fill: #458b00;
}
 
.effect_exon_variant {
  fill: #458b00;
}

.zyg_hom {
  fill: rgba(234,189,32,1);
}
  
.zyg_het {
  fill: rgba(239, 201, 73, .4);
}




/* LEGEND */
.impact, .effect, .vepConsequence, .type, .zygosity {
  border: solid thin white;
  padding: 1px;

}
.impact.nocolor rect, .effect.nocolor rect,  .vepConsequence.nocolor rect,  .zygosity.nocolor rect, .regulatory.nocolor rect, .polyphen.nocolor rect, .sift.nocolor rect {
  fill: lightgrey !important;
  stroke: grey;
}
.afexaclevel.nocolor , .af1000glevel.nocolor {
  display: none !important;
}

.impact:hover, .effect:hover,  .vepConsequence:hover, .regulatory:hover, .polyphen:hover ,.sift:hover, .regulatory:hover, .zygosity:hover, .type:hover, .afexaclevel:hover, .af1000glevel:hover, .inheritance:hover, .clinvar:hover, .uasibs:hover  {  
  cursor: pointer;
  font-weight: bold;
  fill: rgb(53, 134, 192);
}
.impact.current:hover, .effect.current:hover, .vepConsequence.current:hover,   .zygosity.current:hover, .regulatory.current:hover, .polyphen.current:hover, .sift.current:hover, 
.type.current:hover, .afexaclevel.current:hover, .af1000glevel.current:hover,.inheritance.current:hover, .clinvar.current:hover, .uasibs.current:hover {
  font-weight: bold;
  cursor: pointer;
  border: solid thin black;
  border-radius: 2px;
  padding: 1px;
  
}
.current{
  font-weight: bold;
  border: solid thin black;
  border-radius: 2px;
  padding: 1px;
 
}

#impact-scheme, #effect-scheme, #regulatory-scheme, #zygosity-scheme {
  padding-top: 2px;
}
#impact-scheme, #effect-scheme, #zygosity-scheme {
  color: rgb(102, 88, 92) !important;
  text-decoration: none !important;  
  font-size: 11px;

}
#impact-scheme.current, #effect-scheme.current, #zygosity-scheme.current {
  color: rgb(53, 134, 192) !important;
}

#type-scheme, #zygosity-scheme, #inheritance-scheme, #af-scheme, #clinvar-scheme, #regulatory-scheme, #uasibs-scheme {
  padding-top: 2px;
}
.impact.inactive, .zygosity.inactive, .afexaclevel.inactive, .af1000glevel.inactive,.inheritance.inactive, .polyphen.inactive, .sift.inactive, .regulatory.inactive, .clinvar.inactive, .uasibs.inactive  {
  pointer-events: none;
  opacity: .4;
}
.effect.inactive, .vepConsequence.inactive {
  pointer-events: none;
  display: none;
}
#impact-scheme.current, #effect-scheme.current, #zygosity-scheme.current, #af1000g-scheme.current, #afexac-scheme.current, #regulatory-scheme.current, #uasibs-scheme.current {
  font-weight: bold;
  border: none;
 
}
#impact-scheme .name, #effect-scheme .name, #compare-scheme .name, 
#type-scheme .name, #zygosity-scheme .name,
#inheritance-scheme .name, #af-scheme .name, #clinvar-scheme .name, #regulatory-scheme .name, #uasibs-scheme.name,
#afexac-scheme .name, #af1000g-scheme .name {
  fill-opacity: 1;
  font-size: 12px; 
  font-weight: normal;
}
#impact-scheme.current .name, #effect-scheme.current .name, 
#af1000g-scheme.current .name, #afexac-scheme.current .name{
  fill-opacity: 1;
  font-size: 12px;
  font-style: bold;
  color: rgb(53, 134, 192);
  fill: rgb(53, 134, 192);
  border: solid thin black;
  border-radius: 2px;
  padding: 1px;
}
#impact-scheme:hover , #effect-scheme:hover, #af1000g-scheme:hover, #afexac-scheme:hover{
  font-weight: bold;
  cursor: pointer;
}


.btn {
  text-transform: none;
}

#datasource-button {
  margin-left: 30px;
  margin-bottom: 1px;
  visibility: hidden;

}

#add-datasource-container {
  margin-top: 150px;
  width:100%;
  text-align:center;
  position: relative;
}
#add-datasource-container i {
  font-size: 55px;
  margin-right: 5px;
}

#datasource-dialog .twitter-typeahead { width: 100%;}

#add-datasource-button {  
  font-size: 40px;    
  line-height: 55px;
  padding: 25px;
  padding-bottom: 20px;
  background: white;
}

#variant-card-buttons .btn {  
  border-right: 1px solid rgb(235,235,235);
  border-bottom: 1px solid white;
}

#variant-card-buttons .btn:last {
  border-right: 1px solid white;
}
#variant-card-buttons .btn:hover {
  border-bottom: 1px solid #009587;
}

.icon-button {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 22px;
  font-size: 12px;
  color: rgb(132, 132, 132) !important;
}

.icon-button-sm {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  line-height: 22px;
  font-size: 12px;
  color: rgb(132, 132, 132) !important;
}

.icon-button i,
.icon-button-sm i {
  float:     left;
  font-size: 22px;
  padding-right: 4px;
  color: #5d809d !important;
  /* color: rgb(132, 132, 132) !important; */
}

#button-find-missing-variants {
  /*float: right;
  font-size: 12px;
  margin-top: -2px;
  margin-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  line-height: 22px;*/
}

#bloodhound .typeahead { 
  min-width: 170px;
  max-width: 170px;
  font-size: 18px; 
  vertical-align: middle !important;
}


/*
 * video cards
 */

.videos { margin-top: 70px;}
.videos ul {
  list-style-type: none;
  overflow:hidden;
  margin:0;
  padding:0;
}
.videos li {
  width:31%;
  margin: 5px 1%;
  padding:0;
  vertical-align: top;
  display: inline-block;
  margin-bottom: 50px;
  box-sizing: border-box;
  position: relative;  
}

.videos li:nth-child(3n+1) { float:left; clear:both; margin-right: 2%;}
.videos li:nth-child(3n+3) { float:right; margin-right: 4px}
.videos .video { 
  /*border: 1px solid rgb(200,200,200);*/
  /*font-family: 'Open Sans', sans-serif;*/   
  height: 300px; 
  box-shadow: 2px 2px 6px 2px rgb(200,200,200);
  /*border-radius: 3px;*/
}

.videos .video-thumbnail { 
  width: auto;   
  margin: 10px; 
  border-radius: 3px;   
  box-sizing: border-box;
}
.videos .video-thumbnail img { width: 100%; height: 180px; border: 1px solid rgb(230,230,230); border-radius: 3px; margin: 0px;}
.videos .video-text { margin: -10px 15px 2px 15px; font-family: 'helvetica'; }
.videos .video-byline { color: rgb(120,120,120); font-weight: 300; font-size: 1.1rem; text-transform: uppercase; }
.videos .video-headshot { height: 50px; position: absolute; right: 15px; top: 126px; border: 3px solid white; border-radius: 50px;}
.videos .video-title { font-size: 1.8rem;  }
.videos .video-title a { text-decoration: none; font-weight: 600; color: rgb(70,70,70);}
.videos .video-subtitle { font-size: 1.3rem; color: rgb(120,120,120); margin-top: 7px; margin-bottom: 16px; }


/* 
 * results
 */
.results  { 
  text-align: left; 
  color: rgb(132, 132, 132);
}



/* 
 * dropdown 
 */
.tt-input, 
.tt-hint {
  padding: 5px 8px !important;
  font-size: 18px !important;
  line-height: 24px;
  border: 1px solid #ccc !important;
  border-radius: 0px !important;
  outline: none !important;
}

.tt-input { 
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 170px;
    margin-top: 2px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}


/* For mobile phones  */
@media screen and (max-device-width:1030px), screen and (max-width:1030px) {
  #region-track {
    margin-left: 200px !important;
  }
}
/* For mobile phones  */
@media screen and (max-device-width:800px), screen and (max-width:800px) {
  .iobio {
      font-size: 22px !important;
  }

  .iobioapp {
      font-size: 22px !important;
  }

  .iobioproject {
     font-size:16px;
  }

  #learn-more-dropdown {
  }

  #gene-search-bar {
    display: block !important;
    clear:both !important;
    width: 400px;
    text-align: center !important;
    
  }

  #region-track {
    margin-left: 200px !important;
  }



}

