/* Bootstrap accordion */
#slider-left .panel-title {
  font-family: 'Quattrocento Sans', sans-serif;
}
#slider-left .panel-title {
  font-size: 11px;
  text-align: left !important;
}
#slider-left .panel-title a {
  font-size: 12px !important;
}
#slider-left .panel-body {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
    font-size:11px;
    text-align: center;
}
#slider-left .panel-group .panel {
    
}
#slider-left .panel>.panel-heading, .panel-default>.panel-heading {
    background-color: white;    
    padding-top: 1px;
    padding-right: 2px;
    padding-bottom: 1px;
    padding-left: 4px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#slider-left .panel-group .panel-heading+.panel-collapse>.panel-body, .panel-group .panel-heading+.panel-collapse>.list-group {
    border-top: 0;
}
#slider-left .panel>.panel-heading, .panel-default>.panel-heading {
    background-color: white !important;
}

#slider-left .panel {
    border-bottom-width: 1px !important;
    border-bottom-color: #EAEAE3 !important;
    border-style: solid !important;
    box-shadow: none !important;
}

#slider-left .card-label {
  display:none;
}


.close-button {
   padding-top:3px;  
   z-index: 100;
   font-size: 14px;
   cursor: pointer;
   text-align: right;
   vertical-align: middle;
}
.close-button:hover {
    color: #BDFB98 !important;

}

#slide-buttons {
  position: absolute;
  top: 0;
  left: 0;  
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  min-height: 75px;
  z-index: 20;
}

#slider-left {
  position: fixed;
  top: 0;
  left: 36px;
  width: 220px;
  height: 100%;
  transition: width 0.6s ease;
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -ms-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  /*background-color: #616161;*/
  /*background-color: #68839A;*/
   /*background-color: #768898;*/
   background-color: #CECECE;

}

#slider-left-content {
  height:100%;
  width:215px;
  background-color:white;
  padding:5px;
  overflow-y: scroll;
}

#slider-left-content .card-label {
  margin-bottom:10px;
}

#close-slide-left {
  position: fixed;
  left: 225px;
  top: 0px;   
}

.sidebar-button {
  margin-bottom:0px !important;
  padding-top: 1px !important;
  padding-bottom:1px !important;
  padding-left: 1px !important;
  padding-right: 2px !important;
  font-size:11px !important;
  margin-top: 20px !important;
  word-break: break-all !important;
  width: 34px !important;
  white-space: normal !important;
  line-height: 13px !important;
  /*background-color: #5C6B88 !important;*/
  /*background-color: #4C6880 !important;*/
  background-color: rgb(132,132,132) !important;

}

.sidebar-button .material-icons {
  font-size: 18px !important;
  color: white  !important;
  margin-bottom: 0px !important;
  display: block !important;
}

.sidebar-button .label {
    color: white !important;
    font-size: 9px !important;
    margin-top: -5px !important;
    padding: 0px !important;
    line-height: 10px !important;
    word-break: break-word !important;
    white-space: normal !important; 
    background-color: transparent !important;
    font-weight: 100;
}

.sidebar-button.selected {
    background-color: #3773A7 !important;
    color: white !important;
    font-weight: bold !important;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.49),0 10px 30px rgba(0, 0, 0, 0.28) !important;
}

.sidebar-button.selected .label,
.sidebar-button.selected .material-icons {
    color: white !important;
}

.sidebar-button.selected .label {
  font-weight: normal !important;
}

#slider-icon-bar {
    position: fixed;
    left: 0px;
    top: 0px;
    /*background-color: #616161; */
     /*background-color: #68839A;*/
    /*background-color: #768898;*/
    /*background-color: #eee;*/
    background-color: #CECECE;
    width: 36px;
    height: 100%;  
}



.push {    
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;

  z-index: 1;
}

.slide-left {
  transform: translate(226px, 0);
  -webkit-transform: translate(226px, 0);
  -moz-transform: translate(226px, 0);
  -ms-transform: translate(226px, 0);
  -o-transform: translate(226px, 0);
}


/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:.6s;
  -moz-animation-duration:.6s;
  animation-duration:.6s;
}



