<div id="edu-tour-card">
	<span class="card-label">Colon Cancer Screening</span>

	<span style="inline-block">
	    <button  class="icon-button-sm btn btn-default btn-raised"  id="show-case1-tour">
		Instructions
		</button>


	    <button id="button-load-jimmy-data" class="icon-button-sm btn btn-default btn-raised"  onclick="">Jimmy</button>

	    <button class="icon-button-sm btn btn-default btn-raised"  onclick="dataCard.loadDemoData()">Sarah</button>

	    <button class="icon-button-sm btn btn-default btn-raised"  onclick="">Bobby</button>

	    <button class="icon-button-sm btn btn-default btn-raised"  onclick="">Test your Knowledge</button>

	</span>
	<audio id="audio-test" src="https://ia802508.us.archive.org/5/items/testmp3testfile/mpthreetest.mp3" ></audio>
	<audio id="audio-bird" src="http://www.noiseaddicts.com/samples_1w72b820/282.mp3"><audio>

</div>