<div id="edu-tour-card">

	<div id="edu-tour-1" class="hide">
		<span class="card-label">Colon Cancer Screening</span>

		<span style="inline-block">
		    <button  class="icon-button-sm btn btn-default btn-raised"  id="show-case1-tour" style="margin-right:40px !important;">
			Instructions
			</button>


		    <button id="button-load-father-data" class="active edu-tour-button icon-button-sm btn btn-default btn-raised"  
		    onclick="$('.edu-tour-button.active').removeClass('active');$(this).addClass('active');dataCard.mode = 'single';dataCard.loadSampleData('proband', 'Father', 'NA19240')">
		      <span>
			      <i class="material-icons" >star</i>
			      Father
		      </span>
		    </button>

		    <span id="children-buttons" style="display:inline-block;height:45px">
		       <span id="jimmy-and-sarah-buttons" style="display:inline-block;height:45px">
			    <button id="button-load-jimmy-data" class=" edu-tour-button icon-button-sm btn btn-default btn-raised"  
			    onclick="$('.edu-tour-button.active').removeClass('active');$(this).addClass('active');dataCard.mode = 'trio';dataCard.loadSampleData('proband', 'Jimmy', 'NA19238');">
			      <span>
				      <i class="material-icons" >star</i>
				      Jimmy
			      </span>
			    </button>

			    <button class="edu-tour-button icon-button-sm btn btn-default btn-raised"  
			    onclick="$('.edu-tour-button.active').removeClass('active');$(this).addClass('active');dataCard.mode = 'trio';dataCard.loadSampleData('proband', 'Sarah', 'NA19239')">
			      <span>
				      <i class="material-icons" >star</i>
				      Sarah
			      </span>
			    </button>
			   </span>

			    <button class="edu-tour-button icon-button-sm btn btn-default btn-raised"  style="margin-right:20px;"
			    onclick="$('.edu-tour-button.active').removeClass('active');$(this).addClass('active');dataCard.mode = 'trio';dataCard.loadSampleData('proband', 'Bobby', 'NA19240')">
				  <span>
				      <i class="material-icons" >star</i>
				      Bobby
			      </span>

			    </button>
		    </span>

		    <button class="icon-button-sm btn btn-default btn-raised"  
		    onclick="" style="margin-left:20px !important;">
		    	Test your Knowledge
		    </button>

		</span>
		<audio id="audio-test" src="https://ia802508.us.archive.org/5/items/testmp3testfile/mpthreetest.mp3" ></audio>
		<audio id="audio-bird" src="http://www.noiseaddicts.com/samples_1w72b820/282.mp3"><audio>
	</div>

	<div id="edu-tour-2" class="hide">
		<span class="card-label">Warfarin Dosage</span>

		<span style="inline-block">
		    <button  class="icon-button-sm btn btn-default btn-raised"  id="show-case2-tour" style="margin-right:40px !important;">
			Instructions
			</button>


		    <button id="button-load-john-data" class="active edu-tour-button icon-button-sm btn btn-default btn-raised"  
		    onclick="$('.edu-tour-button.active').removeClass('active');$(this).addClass('active');dataCard.loadSampleData('proband', 'John', 'NA19238')">
			  <span>
			      <i class="material-icons" >star</i>
			      John
		      </span>
	    
		    </button>

		    <button class="edu-tour-button icon-button-sm btn btn-default btn-raised"  
		    onclick="$('.edu-tour-button.active').removeClass('active');$(this).addClass('active');dataCard.loadSampleData('proband', 'Diego', 'NA19239')">
		      <span>
			      <i class="material-icons" >star</i>
			      Diego
		      </span>
		    </button>

		    <button class="edu-tour-button icon-button-sm btn btn-default btn-raised"  
		    onclick="$('.edu-tour-button.active').removeClass('active');$(this).addClass('active');dataCard.loadSampleData('proband', 'Sarah', 'NA19240')">
		      <span>
			      <i class="material-icons" >star</i>
			      Sarah
		      </span>
		    </button>

		    <button class="icon-button-sm btn btn-default btn-raised"  
		    onclick="" style="margin-left:40px !important;">Test your Knowledge</button>

		</span>
		<audio id="audio-test" src="https://ia802508.us.archive.org/5/items/testmp3testfile/mpthreetest.mp3" ></audio>
		<audio id="audio-bird" src="http://www.noiseaddicts.com/samples_1w72b820/282.mp3"><audio>

	</div>

</div>