<div>
  <!-- impact -->
  <div style="float:left;;width:77px;">

    <div style="margin-bottom: 2px;margin-top: -2px;">
      <a id="impact-scheme" href="javascript:(0)" class="current">
        <i class="mdi-image-color-lens"></i>
        Impact
      </a>
    </div>

    <select id="select-annotation-scheme" class="chosen-select form-control" onchange="filterCard.onSelectAnnotationScheme()" style="font-size:10px;">
                    <option>SnpEff</option>
                    <option>VEP</option>                   
    </select>
    <div style="padding-bottom:5px;"></div>

    <svg id="HIGH" class="impact" width="77" height="14" transform="translate(0,0)">
      <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">High</text>
      <rect class="filter-symbol  impact_HIGH" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
    </svg>
    <svg id="MODERATE" class="impact" width="77" height="14" transform="translate(0,0)">
      <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">Moderate</text>
      <rect class="filter-symbol  impact_MODERATE" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
    </svg>
    <svg id="MODIFIER" class="impact" width="77" height="14" transform="translate(0,0)">
      <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">Modifier</text>
      <rect class="filter-symbol  impact_MODIFIER" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
    </svg>
    <svg id="LOW" class="impact" width="77" height="14" transform="translate(0,0)">
      <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">Low</text>
      <rect class="filter-symbol  impact_LOW" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
    </svg>
    <div id="effect-filter-box" style="padding-top:0px;">
      <div style="margin-bottom: 1px;">
        <a id="effect-scheme" href="javascript:(0)" >
          <i class="mdi-image-color-lens"></i>
          <span class="name">Effect</span>
        </a>
      </div>
    </div>
    
  </div>

  <!-- Pathogenicity -->
  <div style="float:left;width:150px;padding-left:5px;">
   

    <svg id="type-scheme" width="90" height="13" transform="translate(0,0)" class="">
      <text class="name" x="0" y="8">Pathogenicity</text>
    </svg>
    <select id="select-pathogenicity-scheme" onchange="filterCard.onSelectPathogenicityScheme()" style="font-size:10px;">
                    <option>ClinVar</option>
                    <option>PolyPhen</option>                   
                    <option>SIFT</option>                   
    </select>
    <div style="padding-bottom:5px;"></div>

      <!-- ClinVar -->
      <svg id="clinvar_benign" class="clinvar" width="84" height="15" transform="translate(0,0)">
        <g class="clinvar_benign" transform="translate(0,0)" style="opacity: 1;">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clinvar-symbol" width="12" height="12" style="fill: rgba(181, 207, 107, 1);"></use>
        </g>
        <text class="name" style="fill-opacity: 1;font-size: 10px;" x="15" y="10">Benign</text>
      </svg>

      <svg id="clinvar_lbenign" class="clinvar" width="84" height="15" transform="translate(0,0)">
        <g class="clinvar_lbenign" transform="translate(0,0)" style="opacity: 1;">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clinvar-symbol" width="12" height="12" style="fill: rgba(156, 194, 49, 1);"></use>
        </g>
        <text class="name" style="fill-opacity: 1;font-size: 10px;" x="15" y="10">Likely Benign</text>
      </svg>
      
      
      <svg id="clinvar_path" class="clinvar" width="86" height="15" transform="translate(0,0)">
        <g class="clinvar_path" transform="translate(0,0)" style="opacity: 1;">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clinvar-symbol" width="12" height="12" style="fill: #ad494A;"></use>
        </g>
        <text class="name" style="fill-opacity: 1;font-size: 10px;" x="15" y="10">Pathogenic</text>
      </svg>

      <svg id="clinvar_lpath" class="clinvar" width="94" height="15" transform="translate(0,0)">
        <g class="clinvar_lpath" transform="translate(0,0)" style="opacity: 1;">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clinvar-symbol" width="12" height="12" style="fill: #FB7737;"></use>
        </g>
        <text class="name" style="fill-opacity: 1;font-size: 10px;" x="15" y="10">Likely Pathogenic</text>
      </svg>
      
      <svg id="clinvar_uc" class="clinvar" width="110" height="15" transform="translate(0,0)">
        <g class="clinvar_uc" transform="translate(0,0)" style="opacity: 1;">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clinvar-symbol" width="12" height="12" style="fill:rgba(231, 186, 82, 1);"></use>
        </g>
        <text class="name" style="fill-opacity: 1;font-size: 10px;" x="15" y="10">Unknown significance </text>
      </svg>

      <svg id="clinvar_cd" class="clinvar" width="84" height="15" transform="translate(0,0)">
        <g class="clinvar_cd" transform="translate(0,0)" style="opacity: 1;">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clinvar-symbol" width="12" height="12" style="fill: rgb(111, 182, 180);"></use>
        </g>
        <text class="name" style="fill-opacity: 1;font-size: 10px;" x="15" y="10">Conflicting data</text>
      </svg>

      <svg id="clinvar_other" class="clinvar" width="84" height="15" transform="translate(0,0)">
        <g class="clinvar_other" transform="translate(0,0)" style="opacity: 1;">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clinvar-symbol" width="12" height="12" style="fill: rgb(189, 189, 189);"></use>
        </g>
        <text class="name" style="fill-opacity: 1;font-size: 10px;" x="15" y="10">Other </text>
      </svg>



      <!-- PolyPhen -->     
      <svg id="polyphen_benign" class="polyphen hide" width="93" height="15" transform="translate(0,0)">
        <g class="polyphen_benign" transform="translate(0,0)" style="opacity: 1;">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#biohazard-symbol" width="13" height="13" style="fill: rgba(181, 207, 107,1)"></use>
        </g>
        <text class="name" style="fill-opacity: 1;font-size: 10px;" x="15" y="10">Benign</text>
      </svg>
     
      <svg id="polyphen_possibly_damaging" class="polyphen hide" width="96" height="15" transform="translate(0,0)">
        <g class="polyphen_possibly_damaging" transform="translate(0,0)" style="opacity: 1;">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#biohazard-symbol" width="13" height="13" style="fill: #FB7737"></use>
        </g>
        <text class="name" style="fill-opacity: 1;font-size: 10px;" x="15" y="10">Possibly damaging</text>
      </svg>

      <svg id="polyphen_probably_damaging" class="polyphen hide" width="98" height="15" transform="translate(0,0)">
        <g class="polyphen_probably_damaging" transform="translate(0,0)" style="opacity: 1;">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#biohazard-symbol" width="13" height="13" style="fill: #ad494A"></use>
        </g>
        <text class="name" style="fill-opacity: 1;font-size: 10px;" x="15" y="10">Probably damaging</text>
      </svg>


     
      <!-- SIFT -->
    
      <svg id="sift_tolerated" class="sift hide" width="93" height="15" transform="translate(0,0)">
        <g class="sift_tolerated" transform="translate(0,0)" style="opacity: 1;">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#danger-symbol" width="14" height="14" style="fill: rgba(181, 207, 107,1)"></use>
        </g>
        <text class="name" style="fill-opacity: 1;font-size: 10px;" x="15" y="11">Tolerated</text>
      </svg>
      <svg id="sift_tolerated_low_confidence" class="sift hide" width="134" height="15" transform="translate(0,0)">
        <g class="sift_tolerated_low_confidence" transform="translate(0,0)" style="opacity: 1;">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#danger-symbol" width="14" height="14" style="fill: rgba(231,186,82,1)"></use>
        </g>
        <text class="name" style="fill-opacity: 1;font-size: 10px;" x="15" y="11">Tolerated (low confidence)</text>
      </svg>
      <svg id="sift_deleterious_low_confidence" class="sift hide" width="139" height="15" transform="translate(0,0)">
        <g class="sift_deleterious_low_confidence" transform="translate(0,0)" style="opacity: 1;">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#danger-symbol" width="14" height="14" style="fill: #FB7737"></use>
        </g>
        <text class="name" style="fill-opacity: 1;font-size: 10px;" x="15" y="11">Deleterious (low confidence)</text>
      </svg>
      <svg id="sift_deleterious" class="sift hide" width="98" height="15" transform="translate(0,0)">
        <g class="sift_deleterious" transform="translate(0,0)" style="opacity: 1;">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#danger-symbol" width="14" height="14" style="fill: #ad494A"></use>
        </g>
        <text class="name" style="fill-opacity: 1;font-size: 10px;" x="15" y="11">Deleterious</text>
      </svg>

    </div>

      
   
  </div>


  <!-- allele frequency-->   

  <div style="float:left;width:137px">

    <svg id="af-scheme" class="" width="120" height="13" transform="translate(0,0)">
     <text class="name" x="0" y="8">Allele Frequency</text>
    </svg>
    <select id="select-af-scheme" onchange="filterCard.onSelectAFScheme()" style="font-size:10px;">
                    <option>ExAC</option>
                    <option>1000 Genomes</option>                   
    </select>
    <div style="padding-bottom:5px;"></div>

   
  
      <svg id="afexac_unique" class="afexaclevel" width="120" height="14" transform="translate(0,0)">
        <text class="name" x="10" y="9" style="fill-opacity: 1;font-size: 10px;">private</text>
        <g class=" afexac_unique">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#af-symbol" width="9" height="9" style="fill: rgb(215,48,39);"></use>
        </g>
      </svg>
      <svg id="afexac_uberrare" class="afexaclevel" width="120" height="14" transform="translate(0,0)">
        <text class="name" x="20" y="9" style="fill-opacity: 1;font-size: 10px;">&lt; .01%</text>
        <g class=" afexac_uberrare">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#af-symbol" width="10" height="10" style="fill: rgb(252,141,89);"></use>
        </g>
      </svg>
      <svg id="afexac_superrare" class="afexaclevel" width="120" height="14" transform="translate(0,0)">
        <text class="name" x="20" y="9" style="fill-opacity: 1;font-size: 10px;">&lt; .1%</text>
        <g class=" afexac_superrare">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#af-symbol" width="11" height="11" style="fill: rgb(203, 174, 95);"></use>
        </g>
      </svg>
      <svg id="afexac_rare" class="afexaclevel" width="120" height="14" transform="translate(0,0)">
        <text class="name" x="20" y="9" style="fill-opacity: 1;font-size: 10px;">&lt; 1%</text>
        <g class=" afexac_rare">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#af-symbol" width="12" height="12" style="fill: rgb(158, 186, 194);"></use>
        </g>
      </svg>
      <svg id="afexac_uncommon" class="afexaclevel" width="120" height="16" transform="translate(0,0)">
        <text class="name" x="20" y="9" style="fill-opacity: 1;font-size: 10px;">1-5%</text>
        <g class=" afexac_uncommon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#af-symbol" width="16" height="16" style="fill: rgb(145,191,219);"></use>
        </g>
      </svg>
      <svg id="afexac_common" class="afexaclevel" width="120" height="18" transform="translate(0,0)">
        <g class=" af_common">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#af-symbol" width="18" height="18" style="fill: rgb(69,117,180)"></use>
        </g>
        <text class="name" style="fill-opacity: 1;font-size: 10px;" x="20" y="10">&gt; 5%</text>
      </svg>
      <svg id="afexac_unique_nc" class="afexaclevel" width="120" height="16" transform="translate(0,0)">
        <text class="name" x="12" y="9" style="fill-opacity: 1;font-size: 10px;">n/a (noncoding)</text>
        <g class=" afexac_unique_nc">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#af-symbol" width="11" height="11" style="fill:none;stroke:black"></use>
        </g>
      </svg>
    

   
      <svg id="af1000g_unique" class="af1000glevel hide " width="120" height="14" transform="translate(0,0)">
        <text class="name" x="10" y="9" style="fill-opacity: 1;font-size: 10px;">private</text>
        <g class=" af1000g_unique">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#af-symbol" width="9" height="9" style="fill: rgb(215,48,39);"></use>
        </g>
      </svg>
      <svg id="af1000g_uberrare" class="af1000glevel hide " width="120" height="14" transform="translate(0,0)">
        <text class="name" x="20" y="9" style="fill-opacity: 1;font-size: 10px;">&lt; .01%</text>
        <g class=" af1000g_uberrare">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#af-symbol" width="10" height="10" style="fill: rgb(252,141,89);"></use>
        </g>
      </svg>
      <svg id="af1000g_superrare" class="af1000glevel hide " width="120" height="14" transform="translate(0,0)">
        <text class="name" x="20" y="9" style="fill-opacity: 1;font-size: 10px;">&lt; .1%</text>
        <g class=" af1000g_superrare">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#af-symbol" width="11" height="11" style="fill: rgb(203, 174, 95);"></use>
        </g>
      </svg>
      <svg id="af1000g_rare" class="af1000glevel hide " width="120" height="14" transform="translate(0,0)">
        <text class="name" x="20" y="9" style="fill-opacity: 1;font-size: 10px;">&lt; 1%</text>
        <g class=" af1000g_rare">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#af-symbol" width="12" height="12" style="fill: rgb(158, 186, 194);"></use>
        </g>
      </svg>
      <svg id="af1000g_uncommon" class="af1000glevel hide " width="120" height="16" transform="translate(0,0)">
        <text class="name" x="20" y="9" style="fill-opacity: 1;font-size: 10px;">1-5%</text>
        <g class=" af1000g_uncommon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#af-symbol" width="16" height="16" style="fill: rgb(145,191,219);"></use>
        </g>
      </svg>
      <svg id="af1000g_common" class="af1000glevel hide " width="120" height="18" transform="translate(0,0)">
        <g class=" af1000g_common">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#af-symbol" width="18" height="18" style="fill: rgb(69,117,180)"></use>
        </g>
        <text class="name" style="fill-opacity: 1;font-size: 10px;" x="20" y="10">&gt; 5%</text></svg>
   
    

     <!-- allele freq range -->
      <div id="af-range-filter" style="clear:both">
        <input  type="text"  id="af-amount-start" value="0"                           
         style="width: 35px;font-size: 10px;margin-bottom: 1px;"/>
        -
        <input type="text"  id="af-amount-end" value="100" 
        style="width: 35px;font-size: 10px;margin-bottom: 1px;"/>
        %
        <a id="af-go-button" href="javascript:void(0)" class="icon-button-sm btn btn-default btn-raised" style="padding-top:0px;padding-bottom:0px;margin-top:0px;margin-bottom: 1px;">           
        Go
        </a>
      </div>


     

  </div>

  <!-- type -->
  <div style="float:left;padding-left:10px;width:105px">

    <svg id="type-scheme" width="90" height="15" transform="translate(0,0)" class="">
      <text class="name" x="0" y="10">Type</text>
    </svg>

    <svg id="snp" class="type" width="90" height="14" transform="translate(0,0)">
      <text class="name" x="10" y="9" style="fill-opacity: 1;font-size: 10px;">SNP</text>
      <rect class="filter-symbol snp" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1; fill: none; stroke: rgb(0, 0, 0); stroke-width: 1px;"></rect>
    </svg>
    <svg id="ins" class="type" width="90" height="14" transform="translate(0,0)">
      <text class="name" x="11" y="9" style="fill-opacity: 1;font-size: 10px;"> Insertion</text>
      <circle class="filter-symbol ins" cx="4" cy="5" r="3.5" style="fill: none; stroke: rgb(0, 0, 0); stroke-width: 1px; opacity: 1;"></circle>
    </svg>
    <svg id="del" class="type" width="90" height="14" transform="translate(0,0)">
      <text class="name" x="11" y="9" style="fill-opacity: 1;font-size: 10px;">Deletion</text>       
      <polygon class="filter-symbol del" points="0,8 4,2 8,8" rx="1" ry="1" x="1" width="6" y="2" height="6" style="fill: none; stroke: rgb(0, 0, 0); stroke-width: 1px; opacity: 1;"></polygon>
    </svg>

    <svg id="complex" class="type" width="54" height="14" transform="translate(0,0)">
      <g transform="translate(1,0)">
        <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">Complex</text>       
        <path d="M0,-4.161791450287818L2.4028114141347543,0 0,4.161791450287818 -2.4028114141347543,0Z" class="filter-symbol complex" transform="translate(3,5)" style="opacity: 1; fill: none; stroke: rgb(0, 0, 0);">
        </path>
      </g>
    </svg>

    <!-- zygosity -->
    <div style="padding-top:13px;">
          <div style="margin-bottom: 1px;">
            <a id="zygosity-scheme" href="javascript:(0)" >
              <i class="mdi-image-color-lens"></i>
              Zygosity
            </a>
          </div>
          <svg id="het" class="zygosity nocolor" width="75" height="15" transform="translate(0,0)" >
            <text class="name" x="11" y="9" style="fill-opacity: 1;font-size: 10px;">Heterozygous</text>       
             <rect class="filter-symbol zyg_het" rx="1" ry="1" x="1" width="6" y="2" height="6" 
             </rect>
          </svg>

          <svg id="hom" class="zygosity nocolor" width="75" height="15" transform="translate(0,0)">
            <text class="name" x="11" y="9" style="fill-opacity: 1;font-size: 10px;">Homozygous</text>       
             <rect class="filter-symbol zyg_hom" rx="1" ry="1" x="1" width="6" y="2" height="6"></rect>
          </svg>

          <svg id="gt_unknown" class="zygosity" width="75" height="15" transform="translate(0,0)">
            <text class="name" x="11" y="9" style="fill-opacity: 1;font-size: 10px;">No Genotype</text>       
             <rect class="filter-symbol gt_unknown nocolor" rx="1" ry="1" x="1" width="6" y="2" height="6" 
             </rect>
          </svg>
    </div>

   
   
  </div>





  <div style="float:left;width:94px;padding-left:10px;">

    <!-- inheritance -->
        <svg id="inheritance-scheme" class="" width="94" height="15" transform="translate(0,0)">
            <text class="name" x="0" y="10">Inheritance mode</text>
        </svg>
         <svg id="denovo" class="inheritance" width="90" height="20" transform="translate(0,0)">
          <g class="denovo" transform="translate(0,-2)" style="opacity: 1;">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#denovo-symbol" width="27" height="27"></use>
          </g>
          <text class="name" style="fill-opacity: 1;font-size: 10px;" x="30" y="10">Denovo</text></svg>
        </svg>

        <svg id="recessive" class="inheritance" width="90" height="20" transform="translate(0,0)">
          <g class=" recessive" style="opacity: 1;" transform="translate(0,-2)">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#recessive-symbol" width="27" height="27"></use>
          </g>
          <text class="name" style="fill-opacity: 1;font-size: 10px;" x="30" y="10">Recessive</text></svg>
        </svg>



 <div style="padding-top:15px" class="">
      <svg id="regulatory-scheme" class="" width="80" height="16" transform="translate(0,0)">
        <text class="name" x="0" y="10">Regulatory</text>
      </svg>
      <svg id="reg_the_promoter" class="regulatory nocolor" width="80" height="14" transform="translate(0,0)">
        <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">Promoter</text>
        <rect class="filter-symbol  reg_the_promoter" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
      </svg>
      <svg id="reg_promoter_flanking_region" class="regulatory nocolor" width="120" height="14" transform="translate(0,0)">
        <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">Promoter flanking region</text>
        <rect class="filter-symbol  reg_promoter_flanking_region" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
      </svg>
      <svg id="reg_tf_binding_site" class="regulatory nocolor" width="80" height="14" transform="translate(0,0)">
        <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">TF binding site</text>
        <rect class="filter-symbol  reg_tf_binding_site" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
      </svg>
      <svg id="reg_ctcf_binding_site" class="regulatory nocolor" width="100" height="14" transform="translate(0,0)">
        <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">CTCF binding site</text>
        <rect class="filter-symbol  reg_ctcf_binding_site" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
      </svg>
      <svg id="mot_tf_binding_site_variant" class="regulatory nocolor" width="90" height="14" transform="translate(0,0)">
        <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">TF Motif feature</text>
        <rect class="filter-symbol  mot_tf_binding_site_variant" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
      </svg>

    </div>
     <!-- coverage -->  
      <div id="coverage-filter" style="clear:both;width:150px;padding-top:15px" >
        <div style="font-size:12px;">Coverage (min)</div>
        <input type="text" id="coverage-min" value="" style="width:20px;font-size: 10px;margin-bottom:1px">
        X
        <a id="coverage-go-button" href="javascript:void(0)" class="icon-button-sm btn btn-default btn-raised" style="margin-left:3px;padding-top:0px;padding-bottom:0px;margin-top:0px;margin-bottom: 1px;">           
        Go
        </a>
      </div>

  </div> 

</div>

   