<div>
  <!-- impact -->
  <div style="float:left;;width:97px">
    <svg id="impact-scheme" class="current" width="97" height="28" transform="translate(0,0)">
      <text class="name" x="0" y="10">snpEFF</text>
      <text class="name" x="0" y="22">Impact</text>
    </svg>
    <svg id="HIGH" class="impact" width="97" height="14" transform="translate(0,0)">
      <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">High</text>
      <rect class="filter-symbol  impact_HIGH" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
    </svg>
    <svg id="MODERATE" class="impact" width="97" height="14" transform="translate(0,0)">
      <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">Moderate</text>
      <rect class="filter-symbol  impact_MODERATE" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
    </svg>
    <svg id="MODIFIER" class="impact" width="97" height="14" transform="translate(0,0)">
      <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">Modifier</text>
      <rect class="filter-symbol  impact_MODIFIER" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
    </svg>
    <svg id="LOW" class="impact" width="97" height="14" transform="translate(0,0)">
      <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">Low</text>
      <rect class="filter-symbol  impact_LOW" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
    </svg>
    <div style="padding-top:14px;" class="todo">
      <!-- PolyPhen -->
      <svg id="polyphen-scheme" class="" width="93" height="25" transform="translate(0,0)">
        <text class="name" x="0" y="10">PolyPhen</text>
        <text class="name" x="0" y="22">Classification</text>
      </svg>
      <svg id="DAMAGE" class="polyphen nocolor" width="93" height="14" transform="translate(0,0)">
        <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">Probably Damaging</text>
        <rect class="filter-symbol  polyphen_DAMAGE" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
      </svg>
      <svg id="POSSDAMAGE" class="polyphen nocolor" width="93" height="14" transform="translate(0,0)">
        <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">Possibly Damaging</text>
        <rect class="filter-symbol  polyphen_POSSDAMAGE" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
      </svg>
      <svg id="BENIGN" class="polyphen nocolor" width="93" height="14" transform="translate(0,0)">
        <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">Benign</text>
        <rect class="filter-symbol  polyphen_BENIGN" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
      </svg>

    </div>
    
  </div>

  <!-- effect -->
  <div id="effect-filter-box" style="float:left;width:82px;padding-left:5px;">
    <svg id="effect-scheme" width="40" height="28" transform="translate(0,0)" class="">
      <text class="name" x="0" y="10">snpEFF</text>
      <text class="name" x="0" y="22">Effect</text>
    </svg>
    <svg id="frameshift" class="effectCategory nocolor" width="65" height="14" transform="translate(0,0)">
      <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">Frameshift</text>
      <rect class="filter-symbol  effect_frameshift" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
    </svg>
    <svg id="stop_lost" class="effectCategory nocolor" width="55" height="14" transform="translate(0,0)">
      <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">Stop lost</text>
      <rect class="filter-symbol  effect_stop_lost" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
    </svg>
    <svg id="start_lost" class="effectCategory nocolor" width="55" height="14" transform="translate(0,0)">
      <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">Start lost</text>
      <rect class="filter-symbol  effect_start_lost" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
    </svg>
    <svg id="stop_gained" class="effectCategory nocolor" width="65" height="14" transform="translate(0,0)">
      <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">Stop gained</text>
      <rect class="filter-symbol  effect_stop_gained" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
    </svg>
    <a id="more-effect-link" href="#more-effect" style="display:block;margin-top:-4px;"data-toggle="collapse" aria-expanded="false" class="collapsed">
                more...            
    </a>
    <span id="more-effect" aria-expanded="false" class="collapse" style="height: 0px;">
      <svg id="splice_acceptor" class="effectCategory nocolor" width="85" height="14" transform="translate(0,0)">
        <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">Splice Acceptor</text>
        <rect class="filter-symbol  effect_splice_acceptor" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
      </svg>
      <svg id="splice_donor" class="effectCategory nocolor" width="75" height="14" transform="translate(0,0)">
        <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">Splice donor</text>
        <rect class="filter-symbol  effect_splice_donor" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
      </svg>
      <svg id="splice" class="effectCategory nocolor" width="75" height="14" transform="translate(0,0)">
        <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">Splice region</text>
        <rect class="filter-symbol  effect_splice" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
      </svg>
      <svg id="exon_loss" class="effectCategory nocolor" width="60" height="14" transform="translate(0,0)">
        <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">Exon loss</text>
        <rect class="filter-symbol  effect_exon_loss" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
      </svg>
      <svg id="missense" class="effectCategory nocolor" width="60" height="14" transform="translate(0,0)">
        <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">Missense</text>
        <rect class="filter-symbol  effect_missense" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
      </svg>

      <svg id="utr" class="effectCategory nocolor" width="60" height="14" transform="translate(0,0)">
        <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">UTR</text>
        <rect class="filter-symbol  effect_utr" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
      </svg>
      <svg id="synonymous" class="effectCategory nocolor" width="75" height="14" transform="translate(0,0)">
          <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">Synonymous</text>
        <rect class="filter-symbol  effect_synonymous" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
      </svg>
      <svg id="rare_amino_acid" class="effectCategory nocolor" width="85" height="14" transform="translate(0,0)">
        <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">Rare amino acid</text>
        <rect class="filter-symbol  effect_rare_amino_acid" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
      </svg><svg id="chromosome" class="effectCategory nocolor" width="75" height="14" transform="translate(0,0)">
        <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">Chromosome</text>
        <rect class="filter-symbol  effect_coding" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
      </svg><svg id="indel" class="effectCategory nocolor" width="60" height="14" transform="translate(0,0)">
        <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">Indel</text>
        <rect class="filter-symbol  effect_indel" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
      </svg>
      <svg id="coding" class="effectCategory nocolor" width="50" height="14" transform="translate(0,0)">
      <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">Coding</text>
      <rect class="filter-symbol  effect_coding" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
      </svg>
      <svg id="regulatory" class="effectCategory nocolor" width="70" height="14" transform="translate(0,0)">
      <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">Regulatory</text>
      <rect class="filter-symbol  effect_regulatory" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
      </svg>
      <svg id="exon" class="effectCategory nocolor" width="60" height="14" transform="translate(0,0)">
      <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">Exon</text>
      <rect class="filter-symbol  effect_exon" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
      </svg>
      <svg id="other" class="effectCategory nocolor" width="60" height="14" transform="translate(0,0)">
      <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">Other</text>
      <rect class="filter-symbol  effect_other" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
      </svg>
      <svg id="NOEFFECT" class="effectCategory nocolor" width="60" height="14" transform="translate(0,0)">
      <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">No Effect</text>
      <rect class="filter-symbol  effect_NOEFFECT" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
      </svg> 
    </span>    
    <div style="padding-top:32px;" class="todo" >
      <!-- SIFT -->
      <svg id="sift-scheme" class="" width="93" height="25" transform="translate(0,0)">
        <text class="name" x="0" y="10">SIFT</text>
        <text class="name" x="0" y="22">Classification</text>
      </svg>
      <svg id="DAMAGE" class="sift nocolor" width="93" height="14" transform="translate(0,0)">
        <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">Damaging</text>
        <rect class="filter-symbol  sift_DAMAGE" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
      </svg>
      <svg id="TOLERATE" class="sift nocolor" width="93" height="14" transform="translate(0,0)">
        <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">Tolerated</text>
        <rect class="filter-symbol  sift_TOLERATE" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
      </svg>

    </div>

  </div>

  <!-- type -->
  <div style="padding-top:12px;float:left;;width:60px">

    <svg id="type-scheme" width="35" height="15" transform="translate(0,0)" class="">
      <text class="name" x="0" y="10">Type</text>
    </svg>

    <svg id="snp" class="type" width="40" height="14" transform="translate(0,0)">
      <text class="name" x="10" y="9" style="fill-opacity: 1;font-size: 10px;">SNP</text>
      <rect class="filter-symbol snp" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1; fill: none; stroke: rgb(0, 0, 0); stroke-width: 1px;"></rect>
    </svg>
    <svg id="ins" class="type" width="62" height="14" transform="translate(0,0)">
      <text class="name" x="11" y="9" style="fill-opacity: 1;font-size: 10px;"> Insertion</text>
      <circle class="filter-symbol ins" cx="4" cy="5" r="3.5" style="fill: none; stroke: rgb(0, 0, 0); stroke-width: 1px; opacity: 1;"></circle>
    </svg>
    <svg id="del" class="type" width="62" height="14" transform="translate(0,0)">
      <text class="name" x="11" y="9" style="fill-opacity: 1;font-size: 10px;">Deletion</text>       
      <polygon class="filter-symbol del" points="0,8 4,2 8,8" rx="1" ry="1" x="1" width="6" y="2" height="6" style="fill: none; stroke: rgb(0, 0, 0); stroke-width: 1px; opacity: 1;"></polygon>
    </svg>

    <svg id="complex" class="type" width="54" height="14" transform="translate(0,0)">
      <g transform="translate(1,0)">
        <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">Complex</text>       
        <path d="M0,-4.161791450287818L2.4028114141347543,0 0,4.161791450287818 -2.4028114141347543,0Z" class="filter-symbol complex" transform="translate(3,5)" style="opacity: 1; fill: none; stroke: rgb(0, 0, 0);">
        </path>
      </g>
    </svg>

    <div style="padding-top:25px" class="todo">
      <svg id="regulatory-scheme" class="" width="80" height="16" transform="translate(0,0)">
        <text class="name" x="0" y="10">Promoters</text>
      </svg>
      <svg id="TSS" class="regulatory nocolor" width="80" height="14" transform="translate(0,0)">
        <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">TSS</text>
        <rect class="filter-symbol  regulatory_TSS" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
      </svg>
      <svg id="FLANK" class="regulatory nocolor" width="80" height="14" transform="translate(0,0)">
        <text class="name" x="9" y="9" style="fill-opacity: 1;font-size: 10px;">Promoter Flank</text>
        <rect class="filter-symbol  regulatory_FLANK" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1;"></rect>
      </svg>

    </div>

  </div>

  <!-- zygosity -->
  <div style="padding-top:12px;width: 85px;float: left;">
        <svg id="zygosity-scheme" width="60" height="15" transform="translate(0,0)" class="">
          <text class="name" x="0" y="10">Zygosity</text>
        </svg>
        <svg id="het" class="zygosity" width="75" height="15" transform="translate(0,0)" >
          <text class="name" x="11" y="9" style="fill-opacity: 1;font-size: 10px;">Heterozygous</text>       
           <rect class="filter-symbol het" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1; fill: lightgrey; stroke: grey; stroke-width: 1px;"></rect>
        </svg>

        <svg id="hom" class="zygosity" width="75" height="15" transform="translate(0,0)">
          <text class="name" x="11" y="9" style="fill-opacity: 1;font-size: 10px;">Homozygous</text>       
           <rect class="filter-symbol hom" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1; fill: lightgrey; stroke: grey; stroke-width: 1px;"></rect>
        </svg>

        <svg id="gt_unknown" class="zygosity" width="75" height="15" transform="translate(0,0)">
          <text class="name" x="11" y="9" style="fill-opacity: 1;font-size: 10px;">No Genotype</text>       
           <rect class="filter-symbol gt_unknown" rx="1" ry="1" x="1" width="6" y="2" height="6" style="opacity: 1; fill: lightgrey; stroke: grey; stroke-width: 1px;"></rect>
        </svg>
  </div>

  <!-- allele frequency-->      
    <div style="float:left;width:127px">
       <svg id="af-scheme" class="" width="120" height="15" transform="translate(0,0)">
        <text class="name" x="0" y="10">Allele Frequency</text>
      </svg>
    <div style="float:left;width:60px;margin-top:-5px">
      <svg id="afexac-scheme" class="current" width="50" height="15" transform="translate(0,0)">
        <text class="name" x="0" y="10">ExAC</text>
      </svg>
      <svg id="afexac_unique" class="afexaclevel" width="54" height="14" transform="translate(0,0)">
        <text class="name" x="10" y="9" style="fill-opacity: 1;font-size: 10px;">private</text>
        <g class=" afexac_unique">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#af-symbol" width="9" height="9" style="fill: rgb(215,48,39);"></use>
        </g>
      </svg>
      <svg id="afexac_uberrare" class="afexaclevel" width="50" height="14" transform="translate(0,0)">
        <text class="name" x="20" y="9" style="fill-opacity: 1;font-size: 10px;">&lt; .01%</text>
        <g class=" afexac_uberrare">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#af-symbol" width="10" height="10" style="fill: rgb(252,141,89);"></use>
        </g>
      </svg>
      <svg id="afexac_superrare" class="afexaclevel" width="50" height="14" transform="translate(0,0)">
        <text class="name" x="20" y="9" style="fill-opacity: 1;font-size: 10px;">&lt; .1%</text>
        <g class=" afexac_superrare">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#af-symbol" width="11" height="11" style="fill: rgb(203, 174, 95);"></use>
        </g>
      </svg>
      <svg id="afexac_rare" class="afexaclevel" width="50" height="14" transform="translate(0,0)">
        <text class="name" x="20" y="9" style="fill-opacity: 1;font-size: 10px;">&lt; 1%</text>
        <g class=" afexac_rare">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#af-symbol" width="12" height="12" style="fill: rgb(158, 186, 194);"></use>
        </g>
      </svg>
      <svg id="afexac_uncommon" class="afexaclevel" width="50" height="16" transform="translate(0,0)">
        <text class="name" x="20" y="9" style="fill-opacity: 1;font-size: 10px;">1-5%</text>
        <g class=" afexac_uncommon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#af-symbol" width="16" height="16" style="fill: rgb(145,191,219);"></use>
        </g>
      </svg>
      <svg id="afexac_common" class="afexaclevel" width="50" height="18" transform="translate(0,0)">
        <g class=" af_common">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#af-symbol" width="18" height="18" style="fill: rgb(69,117,180)"></use>
        </g>
        <text class="name" style="fill-opacity: 1;font-size: 10px;" x="20" y="10">&gt; 5%</text>
      </svg>
      <svg id="afexac_unique_nc" class="afexaclevel" width="86" height="16" transform="translate(0,0)">
        <text class="name" x="12" y="9" style="fill-opacity: 1;font-size: 10px;">n/a (noncoding)</text>
        <g class=" afexac_unique_nc">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#af-symbol" width="11" height="11" style="fill:none;stroke:black"></use>
        </g>
      </svg>
    

    </div>
     <div style="float:left;width:60px;margin-top:-5px;">
      <svg id="af1000g-scheme" class="" width="50" height="15" transform="translate(0,0)">
        <text class="name" x="0" y="10">1000G</text>
      </svg>

      <svg id="af1000g_unique" class="af1000glevel nocolor" width="54" height="14" transform="translate(0,0)">
        <text class="name" x="10" y="9" style="fill-opacity: 1;font-size: 10px;">private</text>
        <g class=" af1000g_unique">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#af-symbol" width="9" height="9" style="fill: rgb(215,48,39);"></use>
        </g>
      </svg>
      <svg id="af1000g_uberrare" class="af1000glevel nocolor" width="50" height="14" transform="translate(0,0)">
        <text class="name" x="20" y="9" style="fill-opacity: 1;font-size: 10px;">&lt; .01%</text>
        <g class=" af1000g_uberrare">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#af-symbol" width="10" height="10" style="fill: rgb(252,141,89);"></use>
        </g>
      </svg>
      <svg id="af1000g_superrare" class="af1000glevel nocolor" width="50" height="14" transform="translate(0,0)">
        <text class="name" x="20" y="9" style="fill-opacity: 1;font-size: 10px;">&lt; .1%</text>
        <g class=" af1000g_superrare">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#af-symbol" width="11" height="11" style="fill: rgb(203, 174, 95);"></use>
        </g>
      </svg>
      <svg id="af1000g_rare" class="af1000glevel nocolor" width="50" height="14" transform="translate(0,0)">
        <text class="name" x="20" y="9" style="fill-opacity: 1;font-size: 10px;">&lt; 1%</text>
        <g class=" af1000g_rare">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#af-symbol" width="12" height="12" style="fill: rgb(158, 186, 194);"></use>
        </g>
      </svg>
      <svg id="af1000g_uncommon" class="af1000glevel nocolor" width="50" height="16" transform="translate(0,0)">
        <text class="name" x="20" y="9" style="fill-opacity: 1;font-size: 10px;">1-5%</text>
        <g class=" af1000g_uncommon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#af-symbol" width="16" height="16" style="fill: rgb(145,191,219);"></use>
        </g>
      </svg>
      <svg id="af1000g_common" class="af1000glevel nocolor" width="50" height="18" transform="translate(0,0)">
        <g class=" af1000g_common">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#af-symbol" width="18" height="18" style="fill: rgb(69,117,180)"></use>
        </g>
        <text class="name" style="fill-opacity: 1;font-size: 10px;" x="20" y="10">&gt; 5%</text></svg>
   
    

    </div>
     <!-- allele freq range -->
      <div style="float:left;">
        <input  type="text"  id="af-amount-start" value="0"                           
         style="width: 35px;font-size: 10px;margin-bottom: 1px;"/>
        -
        <input type="text"  id="af-amount-end" value="100" 
        style="width: 35px;font-size: 10px;margin-bottom: 1px;"/>
        %
        <a id="af-go-button" href="javascript:void(0)" class="icon-button-sm btn btn-default btn-raised" style="padding-top:0px;padding-bottom:0px;margin-top:0px;margin-bottom: 1px;">           
        Go
        </a>
      </div>

  </div>

  <!-- inheritance -->
  <div style="padding-top:12px;float:left;width:90px;">
      <svg id="inheritance-scheme" class="" width="90" height="17" transform="translate(0,0)">
          <text class="name" x="0" y="10">Inheritance</text>
      </svg>
       <svg id="denovo" class="inheritance" width="90" height="20" transform="translate(0,0)">
        <g class="denovo" transform="translate(0,-2)" style="opacity: 1;">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#denovo-symbol" width="27" height="27"></use>
        </g>
        <text class="name" style="fill-opacity: 1;font-size: 10px;" x="30" y="10">Denovo</text></svg>
      </svg>

      <svg id="recessive" class="inheritance" width="90" height="20" transform="translate(0,0)">
        <g class=" recessive" style="opacity: 1;" transform="translate(0,-2)">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#recessive-symbol" width="27" height="27"></use>
        </g>
        <text class="name" style="fill-opacity: 1;font-size: 10px;" x="30" y="10">Recessive</text></svg>
      </svg>

        <!-- coverage -->  
      <div style="float:left;padding-top:20px" >
        <span style="font-size:11px;">Coverage (min)</span>
        <input type="text" id="coverage-min" value="" style="width:20px;font-size: 10px;margin-bottom:1px">
        X
        <a id="coverage-go-button" href="javascript:void(0)" class="icon-button-sm btn btn-default btn-raised" style="margin-left:0px;padding-top:0px;padding-bottom:0px;margin-top:0px;margin-bottom: 1px;">           
        Go
        </a>
      </div>

  </div>


  <!-- clinvar -->
  <div style="padding-top:12px;float:left;width:94px;">
      <svg id="clinvar-scheme" class="" width="90" height="18" transform="translate(0,0)">
          <text class="name" x="0" y="10">ClinVar</text>
      </svg>
      <svg id="clinvar_benign" class="clinvar" width="84" height="15" transform="translate(0,0)">
        <g class="clinvar_benign" transform="translate(0,-2)" style="opacity: 1;">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clinvar-symbol" width="12" height="12" style="fill: rgba(181, 207, 107, 1);"></use>
        </g>
        <text class="name" style="fill-opacity: 1;font-size: 10px;" x="15" y="8">Benign</text>
      </svg>

      <svg id="clinvar_lbenign" class="clinvar" width="84" height="15" transform="translate(0,0)">
        <g class="clinvar_lbenign" transform="translate(0,-2)" style="opacity: 1;">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clinvar-symbol" width="12" height="12" style="fill: rgba(156, 194, 49, 1);"></use>
        </g>
        <text class="name" style="fill-opacity: 1;font-size: 10px;" x="15" y="8">Likely Benign</text>
      </svg>
      
      
      <svg id="clinvar_path" class="clinvar" width="86" height="15" transform="translate(0,0)">
        <g class="clinvar_path" transform="translate(0,-2)" style="opacity: 1;">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clinvar-symbol" width="12" height="12" style="fill: #ad494A;"></use>
        </g>
        <text class="name" style="fill-opacity: 1;font-size: 10px;" x="15" y="8">Pathogenic</text>
      </svg>

      <svg id="clinvar_lpath" class="clinvar" width="94" height="15" transform="translate(0,0)">
        <g class="clinvar_lpath" transform="translate(0,-2)" style="opacity: 1;">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clinvar-symbol" width="12" height="12" style="fill: #C07778;"></use>
        </g>
        <text class="name" style="fill-opacity: 1;font-size: 10px;" x="15" y="8">Likely Pathogenic</text>
      </svg>
      
      <svg id="clinvar_uc" class="clinvar" width="84" height="15" transform="translate(0,0)">
        <g class="clinvar_uc" transform="translate(0,-2)" style="opacity: 1;">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clinvar-symbol" width="12" height="12" style="fill:rgba(231, 186, 82, 1);"></use>
        </g>
        <text class="name" style="fill-opacity: 1;font-size: 10px;" x="15" y="8">Unknown signif </text>
      </svg>

      <svg id="clinvar_cd" class="clinvar" width="84" height="15" transform="translate(0,0)">
        <g class="clinvar_cd" transform="translate(0,-2)" style="opacity: 1;">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clinvar-symbol" width="12" height="12" style="fill: rgb(111, 182, 180);"></use>
        </g>
        <text class="name" style="fill-opacity: 1;font-size: 10px;" x="15" y="8">Conflicting data</text>
      </svg>

      <svg id="clinvar_other" class="clinvar" width="84" height="15" transform="translate(0,0)">
        <g class="clinvar_other" transform="translate(0,-2)" style="opacity: 1;">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clinvar-symbol" width="12" height="12" style="fill: rgb(189, 189, 189);"></use>
        </g>
        <text class="name" style="fill-opacity: 1;font-size: 10px;" x="15" y="8">Other </text>
      </svg>

  </div> 

</div>

   