<div id="gene-badge"  >

	<button id="gene-badge-button" type="button" onclick="genesCard.selectGeneBadge(this)" 
		class="btn btn-raised btn-default" 
		rel="tooltip"   data-html="true" href="#"
		data-placement="bottom">
        <i id="gene-badge-loaded" class="material-icons glyph">done</i>
        <i id="gene-badge-warning" class="material-icons glyph">warning</i>
        <i id="gene-badge-error" class="material-icons glyph">error</i>
        <span id="gene-badge-bookmark" class="glyph" style="float:left"></span>
        <span id="gene-badge-name" style="float:left;"></span>
        <img class="gene-badge-loader hide glyph" style="width: 15px; height: 15px; float: left;" src="assets/images/wheel.gif">
        <span id="gene-badge-phenotype-symbol" class="glyph" style="float:right;height:14px;"></span>
  		<span id="gene-badge-symbols" class="glyph"></span>

	</button>	

	<a id="gene-badge-remove" href="javascript:void(0)" 
		onclick="genesCard.removeGeneBadge(this)" class="btn btn-flatbtn-default" 
		style="padding: 0;margin-top: 0px;margin-bottom: 0px;color: grey !important;font-size: 11px;margin-left: -2px;margin-left: -3px;padding-top: 3px;">

	  	<i class="material-icons">close</i>

	</a>
	
</div>