<div id="help-card">
	<div class="card-label">Help</div>

	<div style="margin-top:10px;margin-left:10px;">
	    <div>
	    	<a class="help-link open_page_guide" href="javascript:void(0)" >Tour</a>
	    </div>

	    <div>
	    	<a href="javascript:void(0)"  class="help-link" onclick="$('#tourWelcome').removeClass('open');window.open('videos.html', '_screencasts');">Screencasts
	    	</a>
	    </div>

	    <div>
	    	<a href="javascript:void(0)" class="help-link" onclick="$('#tourWelcome').removeClass('open');window.open('usecases.html','_usecases');">Use Cases
	    	</a>
	    </div>

	    <div>
	    	<a href="javascript:void(0)"  class="help-link" onclick="$('#tourWelcome').removeClass('open');window.open('http://iobio.io/2015/09/03/install-run-tabix/','_helptopics');">Input Variant files
	    	</a>
	    </div>

	    <div>
	    	<a href="javascript:void(0)" class="help-link"  onclick="$('#tourWelcome').removeClass('open');window.open('http://iobio.io/2015/09/07/vep-in-gene-iobio/','_helptopics');">VEP, SIFT/Polyphen
	    	</a>
	    </div>
	</div>


</div>