<div id="help-card">
	<div class="card-label">Help</div>

	<div style="margin-top:10px;margin-left:10px;margin-right:10px;">

	    <div>
	        <a class="help-link" href="http://nv-dev.iobio.io/gene.iobio/?rel0=proband&rel1=mother&rel2=father&gene=RAI1&name0=NA19240&bam0=https://s3.amazonaws.com/iobio/1000gSV/NA19240.mapped.ILLUMINA.bwa.YRI.exome.20130415.bam&name1=NA19238&bam1=https://s3.amazonaws.com/iobio/1000gSV/NA19238.mapped.ILLUMINA.bwa.YRI.exome.20130415.bam&name2=NA19239&bam2=https://s3.amazonaws.com/iobio/1000gSV/NA19239.mapped.ILLUMINA.bwa.YRI.exome.20130415.bam&vcf0=https://s3.amazonaws.com/iobio/1000gSV/exome-trio.vcf.gz&sample0=NA19240&vcf1=https://s3.amazonaws.com/iobio/1000gSV/exome-trio.vcf.gz&sample1=NA19238&vcf2=https://s3.amazonaws.com/iobio/1000gSV/exome-trio.vcf.gz&sample2=NA19239&genes=RAI1,AIRE,PDGFB,MYLK2,PDHA1" target="_new">Try it out</a>

	    	<div class="help-info">Run gene.iobio with Platinum trio exome sequencing (demo) datasets</div>

	    </div>
	    <div>
	    	<a class="help-link open_page_guide" onclick="closeSlideLeft()" href="javascript:void(0)" >Tour</a>
	    	<div class="help-info">A step-by-step guide to using gene.iobio

				<a class="help-link open_page_guide" id="show-overview-bookmarks-tour" 
					onclick="closeSlideLeft()" href="javascript:void(0)" 
					style="padding-top:3px;">
				Overview
				</a>
				<a class="help-link " id="show-phenolyzer-tour" 
					onclick="$('#tlyPageGuideBookmarksPhenolyzer').removeClass('hide');closeSlideLeft()" href="javascript:void(0)" >
				Phenolyzer
				</a>
				<a class="help-link " id="show-bookmarks-tour" 
					onclick="$('#tlyPageGuideBookmarks').removeClass('hide');closeSlideLeft()" href="javascript:void(0)" >
				Bookmarks
				</a>

	    </div>
	    </div>

	    <div>
	        <a class="help-link" href="javascript:void(0)" onclick="$('#tourWelcome').removeClass('open');window.open('help_resources.html','_helptopics')";>Examples</a>
	        <div class="help-info">Example uses cases, demo datasets, and screencasts</div>
	    </div>


	    <div>
	    	<a href="javascript:void(0)"  class="help-link" onclick="$('#tourWelcome').removeClass('open');window.open('http://iobio.io/blog.html','_helptopics');">iobio blog</a>
	    	</a>
	    	<div class="help-info">Blog posts for iobio, including gene.iobio posts</div>
	    </div>

	    <div>
	    	<a href="javascript:void(0)" class="help-link"  onclick="$('#tourWelcome').removeClass('open');window.open('http://iobio.io/tags/gene.iobio.html', '_helptopics');">gene.iobio blog
	    	</a>
	    	<div class="help-info">iobio blog posts specific to gene.iobio</div>
	    </div>
	</div>


</div>