<div id="help-card">
	<div class="card-label">Help</div>

	<div style="margin-top:10px;margin-left:10px;">
	    <div>
	    	<a class="help-link open_page_guide" onclick="closeSlideLeft()" href="javascript:void(0)" >Tour</a>
	    	<div class="help-info">A step-by-step guide to using gene.iobio

				<a class="help-link open_page_guide" id="show-overview-bookmarks-tour" 
					onclick="closeSlideLeft()" href="javascript:void(0)" 
					style="display: block;font-size: 13px !important;">
				Overview
				</a>
				<a class="help-link " id="show-phenolyzer-tour" 
					onclick="$('#tlyPageGuideBookmarksPhenolyzer').removeClass('hide');closeSlideLeft()" href="javascript:void(0)" 
					style="display: block;font-size: 13px !important;">
				Phenolyzer
				</a>
				<a class="help-link " id="show-bookmarks-tour" 
					onclick="$('#tlyPageGuideBookmarks').removeClass('hide');closeSlideLeft()" href="javascript:void(0)" 
					style="display: block;font-size: 13px !important;">
				Bookmarks
				</a>

	    </div>
	    </div>

	    <div>
	        <a class="help-link" href="javascript:void(0)" onclick="$('#tourWelcome').removeClass('open');window.open('help_resources.html','_helptopics')";>Help Resources</a>
	        <div class="help-info">Example uses cases and screen casts</div>
	    </div>


	    <div>
	    	<a href="javascript:void(0)"  class="help-link" onclick="$('#tourWelcome').removeClass('open');window.open('http://iobio.io/blog.html','_helptopics');">iobio blog</a>
	    	</a>
	    	<div class="help-info">Blog posts for iobio, including gene.iobio posts</div>
	    </div>

	    <div>
	    	<a href="javascript:void(0)" class="help-link"  onclick="$('#tourWelcome').removeClass('open');window.open('http://iobio.io/tags/gene.iobio.html', '_helptopics');">gene.iobio blog
	    	</a>
	    	<div class="help-info">iobio blog posts specific to gene.iobio</div>
	    </div>
	</div>


</div>