<div id="slider-icon-bar" class="closed">

  <div id="button-show-filters" class="closed sidebar-button btn btn-default icon-button" style="margin-top: 10px;" onclick="$('.sidebar-button').removeClass('selected');$(this).addClass('selected');showSidebar('Filter')">     
              <div class="material-icons">tune</div>          
              <div class="label">Filter</div>
  </div>

  <div id="button-show-examine" class="closed sidebar-button btn btn-default icon-button" onclick="$('.sidebar-button').removeClass('selected');$(this).addClass('selected');showSidebar('Examine')">     
              <div class="material-icons">description</div>          
              <div class="label">Inspect</div>
  </div>
  
  

  <div id="button-show-phenolyzer" class="closed sidebar-button btn btn-default icon-button button-show-phenolyzer" onclick="$('.sidebar-button').removeClass('selected');$(this).addClass('selected');showSidebar('Phenolyzer')">     
              <div class="material-icons">format_list_numbered</div>
              <div class="label">Genes</div>          
  
  </div>


  <div id="button-show-bookmarks" class="closed sidebar-button btn btn-default icon-button"  onclick="$('.sidebar-button').removeClass('selected');$(this).addClass('selected');showSidebar('Bookmarks')">     
              <div class="material-icons" style="padding-top:0px;">bookmark</div>
              <div class="label">Book marks</div>          
  
  </div>

  <div id="button-find-missing-variants" class="closed hide sidebar-button btn btn-default  icon-button"  onclick="$('.sidebar-button').removeClass('selected');$(this).addClass('selected');showSidebar('Recall');">     
              <div class="material-icons">dialpad</div>
              <div class="label">Call</div>          
  
  </div>

    <div id="button-show-help" class="closed sidebar-button btn btn-default icon-button"  onclick="$('.sidebar-button').removeClass('selected');$(this).addClass('selected');showSidebar('Help');">     
              <div class="material-icons">info</div>
              <div class="label">About</div>          
  
  </div>

</div>

