<div id="slider-icon-bar">

  <div id="button-show-filters" class="sidebar-button btn btn-default btn-raised icon-button" style="margin-top: 10px;" onclick="$('.sidebar-button').removeClass('selected');$(this).addClass('selected');showSidebar('Filter')">     
              <div class="material-icons">tune</div>          
              <div class="label">Filter</div>
  </div>
  

  <div id="button-show-bookmarks" class="sidebar-button btn btn-default btn-raised icon-button"  onclick="$('.sidebar-button').removeClass('selected');$(this).addClass('selected');showSidebar('Bookmarks')">     
              <div class="material-icons">bookmark</div>
              <div class="label">Book marks</div>          
  
  </div>

  <div id="button-show-phenolyzer" class="sidebar-button btn btn-default btn-raised icon-button selected" onclick="$('.sidebar-button').removeClass('selected');$(this).addClass('selected');showSidebar('Phenolyzer')">     
              <div class="material-icons">format_list_numbered</div>
              <div class="label">Pheno lyzer</div>          
  
  </div>

  <div id="button-find-missing-variants" class="sidebar-button btn btn-default btn-raised icon-button"  onclick="$('.sidebar-button').removeClass('selected');$(this).addClass('selected');showSidebar('Recall');callVariants()">     
              <div class="material-icons">dialpad</div>
              <div class="label">Call variants</div>          
  
  </div>
</div>

