<div style="display:flex;flex-direction:row">
        <svg id="clinvar_path" class="known-variants-clinvar" width="78" height="15" >
        <g class="clinvar_path" transform="translate(1,0)" style="opacity: 1;">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clinvar-symbol" width="11" height="11" style="fill: #ad494A;"></use>
        </g>
        <text class="name" style="fill-opacity: 1;" x="15" y="10">Pathogenic</text>

        </svg>

        <svg id="clinvar_lpath" class="known-variants-clinvar" width="110" height="15" >
        <g class="clinvar_lpath" transform="translate(1,0)" style="opacity: 1;">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clinvar-symbol" width="11" height="11" style="fill: #FB7737;"></use>
        </g>
        <text class="name" style="fill-opacity: 1;" x="15" y="10">Likely Pathogenic</text>
        </svg>

        <svg id="clinvar_uc" class="known-variants-clinvar" width="132" height="15">
          <g class="clinvar_uc" transform="translate(1,0)" style="opacity: 1;">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clinvar-symbol" width="11" height="11" style="fill:rgba(231, 186, 82, 1);"></use>
          </g>
          <text class="name" style="fill-opacity: 1;" x="15" y="10">Unknown significance </text>
        </svg>


        <svg id="clinvar_cd" class="known-variants-clinvar" width="100" height="15">
          <g class="clinvar_cd" transform="translate(1,0)" style="opacity: 1;">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clinvar-symbol" width="11" height="11" style="fill: rgb(111, 182, 180);"></use>
          </g>
          <text class="name" style="fill-opacity: 1;" x="15" y="10">Conflicting data</text>
        </svg>

        <svg id="clinvar_other" class="known-variants-clinvar" width="48" height="15" >
          <g class="clinvar_other" transform="translate(1,0)" style="opacity: 1;">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clinvar-symbol" width="11" height="11" style="fill: rgb(189, 189, 189);"></use>
          </g>
          <text class="name" style="fill-opacity: 1;" x="15" y="10">Other </text>
        </svg>

        <svg id="clinvar_benign" class="known-variants-clinvar" width="53" height="15" >
          <g class="clinvar_benign" transform="translate(1,0)" style="opacity: 1;">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clinvar-symbol" width="11" height="11" style="fill: rgba(156, 194, 49, 1);"></use>
          </g>
          <text class="name" style="fill-opacity: 1;" x="15" y="10">Benign</text>
        </svg>

        <svg id="clinvar_lbenign" class="known-variants-clinvar" width="87" height="15">
          <g class="clinvar_lbenign" transform="translate(1,0)" style="opacity: 1;">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clinvar-symbol" width="11" height="11" style="fill: rgba(181, 207, 107, 1);"></use>
          </g>
          <text class="name" style="fill-opacity: 1;" x="15" y="10">Likely Benign</text>
        </svg>

</div>
