
<div id="select-known-variants-display-box" class="level-edu level-basic">
    <select id="select-known-variants-display" class="fullview" data-placeholder="">
          <option value="counts" >Show counts</option>
          <option value="variants">Show variants</option>                   
          <option value="hide">Hide</option>
          <option value="none"></option>
    </select>        
</div>  

<div id="known-variants-nav" class="hide">
    <button class="selected chart-type level-edu btn btn-default icon-button-sm btn-raised" 
    href="javascript:void(0)" onclick="toggleKnownVariantsChart('exon-bar', true, this)"
    data-toggle="tooltip" data-placement="top" title="exon bar chart">  
      <i class="material-icons">linear_scale</i>
    </button>
    <button class="chart-type level-edu btn btn-default icon-button-sm btn-raised" 
    href="javascript:void(0)" onclick="toggleKnownVariantsChart('bar', true, this)"
    data-toggle="tooltip" data-placement="top" title="histogram">  
      <i class="material-icons">insert_chart</i>
    </button>
    <button class="chart-type level-edu btn btn-default icon-button-sm btn-raised" 
    href="javascript:void(0)" onclick="toggleKnownVariantsChart('area', true, this)"
    data-toggle="tooltip" data-placement="top" title="area chart">
      <i class="material-icons">show_chart</i>
    </button>
    <div class="loader hide">
        <span class="loader-label">Loading...</span>
        <img src="assets/images/wheel.gif"/>
    </div>

</div>  


<div id="select-known-variants-filter-box" class="hide level-edu level-basic">
    <select id="select-known-variants-filter" class="fullview" data-placeholder="">                 
    </select>        
</div> 
