<div id="phenolyzer-card">

	<!-- Phenolyzer search term -->
	<div style="margin-left: 10px;margin-right: 10px;padding-top: 10px;padding-bottom: 15px;">
		 <span style="font-size: 11px;font-style: italic;color: rgb(132,132,132);">Searching on</span>
	  	<span id="phenolyzer-search-term" class="card-label" style="padding-left: 10px;"></span>
	</div>

    <!-- loader gif for phenolyzer -->
    <div class="phenolyzer loader hide" style="padding-top: 17px;">
        <span class="loader-label">Running Phenolyzer...</span>
        <img src="assets/images/wheel.gif"/>
    </div>


	<div id="phenolyzer-heading" class="hide">
 	 	<div style="color:rgb(132,132,132);width: 60px;float: left;margin-left: 10px;">Gene</div>
  		<div style="color:rgb(132,132,132);float: left;" class="card-label">Phenolyzer score</div>
  	</div>

    <div id="phenolyzer-results" style="clear:both;padding-top:7px;">
    </div>

    <div id="phenolyzer-timeout-message" class="hide alert alert-dismissable alert-info" style="background-color: rgb(249, 237, 184); border: solid 1px rgb(237, 201, 103);color: rgb(132, 132, 132);text-align: left;margin-left: 10px;margin-right: 10px;">

        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Warning:  </strong>The Phenolyzer services was unable to return results within 45 seconds.  Consider using a more exact search term.

    </div>

</div>