<div id="recall-card">
<div class="card-label">Call Variants</div>

	<button id="button-call-variants" class="btn btn-default btn-raised icon-button-sm" style="padding-top: 2px;padding-bottom: 1px;" onclick="callVariants()">         	
		<i class="material-icons" style="font-size:18px;">dialpad</i>
         Call variants      
  	</btton>

</div>