<div id="tourPanelWrapper" class="hide">
  <div id="tourPanel"> 
     
  </div>
</div>

<ul id="tlyPageGuide" data-tourtitle="gene.iobio tour">
  <li class="tlypageguide_left" data-tourtarget="#enter-gene-name">
    <div>
      Type in the gene name BRCA2 and select from the drop down list.
      <br><strong><em>Click on next arrow > to continue to next step.</em></strong>
    </div>
  </li>
  <li class="tlypageguide_top" data-tourtarget="#gene-track">
    <div>
      This shows the gene model for the canonical transcript.
    </div>
  </li>
  <li class="tlypageguide_bottom" data-tourtarget="#add-data-button">
    <div>
      Click on the 'Data' button to load your variant and alignment files.
      <br><br>
    </div>
    <div>
      1. Click on the 'Variants' dropdown and select 'Platinum Trio'.    
      <br><br>
    </div>
    <div>
      2. Click on the 'Alignments' dropdown and select 'Platinum Trio'.
      <br><br>
    </div>  
     <div>
      3. Click 'Load' to load all of the selected data into the app.
    </div>
  </li>

  </li>
  
  <li class="tlypageguide_top" data-tourtarget="#vcf-track">
    <div>
      The variants for the gene are annotated using SnpEff and VEP to determine functional impact and effect, the allele frequencies from 1000 Genomes and ExAC are retrieved, and queries to ClinVar flag any variants with clinical significance.  All of this processing occurs in real-time.
      Hover over the variants to see more information.  Click on a variant to lock, allowing links to be
      clicked in the tooltip.  
    </div>
  </li>
  <li class="tlypageguide_top" data-tourtarget="#bam-depth">
    <div>
      When an alignment file is specified, the base coverage chart is displayed, allowing the user to identify regions of abnormal or unexpected sequence coverage.
    </div>
  </li>
  <li class="tlypageguide_bottom" data-tourtarget="#button-find-missing-variants">
    <div>
      Push the 'Call from alignments' button to call variants using Freebayes. Variants not present in the VCF file will be displayed above the loaded variants. 
    </div>
  </li>
  <li class="tlypageguide_right" data-tourtarget="#filter-track">
    <div>
      The variants can be filtered by mousing over a specific label.  To apply multiple filters, click on multiple labels to toggle on or off.
    </div>
  </li>
  <li class="tlypageguide_top" data-tourtarget="#matrix-track">
    <div>
      The variants are ranked according to different criteria. These criteria can be reordered by clicking on their respective arrows. Click on a column to see the variant in the variant chart below. Unclick
      the column to toggle back to all variants.
    </div>
  </li>
  <li class="tlypageguide_right" data-tourtarget="#transcript-btn-group">
    <div>
      Other transcripts for this gene can be selected from this dropdown.
    </div>
  </li>
  <li class="tlypageguide_bottom" data-tourtarget="#gene-track">
    <div>
     Drag and drop to select a region to zoom into. To zoom back out, click anywhere on the gene model.
    </div>
  </li>
  <li class="tlypageguide_right" data-tourtarget="#transcript-btn-group">
    <div>
      Adjust this value to display modify the size of displayed DNA upstream and downstream of the gene.
    </div>
  </li>
  <li class="tlypageguide_left" data-tourtarget="#learn-more-dropdown">
    <div>
      You can run the tour any time by selecting 'Tour' from the 'Learn more' dropdown.
      <br>
      This is the end of the tour.  <strong><em>Click the close button to end or click on next arrow > to re-run the tour.</em></strong>
    </div>
  </li>
</ul>
