<div id="tourPanelWrapper" class="hide">
  <div id="tourPanel"> 
     
  </div>
</div>


<!-- Tour for colon cancer screening case -->
<ul id="tourEduCase1"  data-tourtitle="coloncancer">


  <li class="tlypageguide_down" data-tourtarget="#edu-tour-label">
    <div>
       [GRAPHICS: Family glyps with father colored blue to show he has variant; children with question marks] 
    </div>
  </li>
  
  <li class="tlypageguide_right" data-tourtarget="#phenolyzer-search-box .selectize-control.single">
    <div>
       Look at the father’s genome first. Select 'Colon cancer' from the ‘Phenolyzer’ box at the left of the screen.
    </div>
  </li>


 
  <li class="tlypageguide_right" data-tourtarget="#phenolyzer-results">
    <div>
      [GRAPHICS: Same pop-up as in the video highlighting the gene list] 
    </div>
  </li>

  <li class="tlypageguide_right" data-tourtarget="#proband-variant-card #zoom-region-chart">
    <div>
      [GRAPHICS: Show gene, then show exons are the regions coding for the protein --- TONY]
    </div>
  </li>



  <li class="tlypageguide_left" data-tourtarget="#gene-badge-container">
    <div>
      Look through each of the top five genes for harmful variants. Remember, the variants gene.iobio predicts are harmful will show up as bright red icons on the among the variants and in the ranking chart. 
      <br><br>
      If you find a harmful variant, touch on symbol.

      [Next step triggered when player touches the red variant symbol in APC gene.]
    </div>
  </li>

   <li class="tlypageguide_up" data-tourtarget="rect.HIGH.stop_gained">
    <div>
       [Animation?]
    </div>
  </li>

   <li class="tlypageguide_down" data-tourtarget="#children-buttons">
    <div>
      Examine the APC genes of each of the children. Based on what you find, recommend which children should get frequent colon cancer screenings. 
      <div style="text-align:center;margin-top:-20px;margin-bottom:40px;">
        <div class="custom-checkbox" style="display:inline-block;margin-right:20px">
            <input type="checkbox" onclick="onEduTour1Check($(this))" id="jimmy">
            <label for="jimmy" >Jimmy</label>
        </div>
        <div class="custom-checkbox" style="display:inline-block;margin-right:20px">
            <input type="checkbox"  onclick="onEduTour1Check($(this))" id="bobby">
            <label for="bobby">Bobby</label>
         </div>
        <div class="custom-checkbox" style="display:inline-block">
            <input type="checkbox"  onclick="onEduTour1Check($(this))" id="sarah">
            <label for="sarah" >Sarah</label>
         </div>
      </div>
    
      <div style="text-align:center;margin-top: -50px;margin-bottom:-30px;">
          <div style="display:inline-block;margin-right: 45px;margin-left: -8px;">
              <label id="jimmy-answer" class=" edu-tour-answer" style="visibility:hidden">correct</label>
          </div>
          <div style="display:inline-block;margin-right: 36px;">            
              <label id="bobby-answer" class="incorrect edu-tour-answer" style="visibility:hidden">incorrect</label>
           </div>
          <div style="display:inline-block">
              <label id="sarah-answer" class=" edu-tour-answer" style="visibility:hidden">correct</label>
           </div>
        </div>      
    </div>
  </li>

   <li class="tlypageguide_down" data-tourtarget=".edu-tour-1-child-buttons">
    <div>
     [Animation: We see the family tree again as we last saw it in the introduction. The question marks in the children are replaced by the appropriate colors – two blue kids and one not blue.]
    </div>
  </li>

</ul>

<!-- Tour for warfarin screening case -->
<ul id="tourEduCase2"  data-tourtitle="warfarin">

  
  <li class="tlypageguide_up" data-tourtarget="#edu-tour-2-label">
  
  </li>

  <li class="tlypageguide_down" data-tourtarget="#vcf-variants rect:eq(2)">
    <div>
    [GRAPHICS (TONY) - Show genotype legend with warfarin doses]

    </div>
  </li>  

  <li class="tlypageguide_up" data-tourtarget="#button-load-john-data">
    <div>
      Start with the first patient, John. Select the ‘VKORC1’ gene from the drop down list at the top of the page. Tourch each of the variants in John’s VKORC1 gene. Find the variant that determines his sensitivity to Warfarin and recommend a dose for him below. 

      [GRAPHICS: Question at the bottom of the screen reads: “What dose of Warfarin does John need?” Three radio buttons read: “Normal” “Lower” “Lowest”. A “Help” button allows player to bring up a screen that reminds them of the doses required by people with different genotypes: “GG = normal dose, AG = lower dose, AA = lowest dose.]
    </div>
  </li>  

  <li class="tlypageguide_up" data-tourtarget="#button-load-diego-data">
    <div>

      Now select Diego. Find the variant that determines his sensitivity to Warfarin and recommend a dose for him below. [GRAPHICS: Question at the bottom of the screen reads: “What dose of Warfarin does Diego need?” Three radio buttons read: “Normal” “Lower” “Lowest”. A “Help” button allows player to bring up a screen that reminds them of the doses required by people with different genotypes: “GG = normal dose, AG = lower dose, AA = lowest dose.]

    </div>
  </li> 

  <li class="tlypageguide_up" data-tourtarget="#button-load-sarah-data">
    <div>

      Now select Sarah. Find the variant that determines her sensitivity to Warfarin and recommend a dose for her below. [GRAPHICS: Question at the bottom of the screen reads: “What dose of Warfarin does Sarah need?” Three radio buttons read: “Normal” “Lower” “Lowest”. A “Help” button allows player to bring up a screen that reminds them of the doses required by people with different genotypes: “GG = normal dose, AG = lower dose, AA = lowest dose.]

    </div>
  </li>  

  <li class="tlypageguide_up" data-tourtarget="#edu-tour-2">
    <div>

    [Audio] [GRAPHICS: show the variants and recommended doses side by side for the three patients: John-GG-normal dose; Diego-AA-lower dose, Sarah has AG] Based on their genetic variants, each of these three patients needed a different dose of Warfarin. Thank you for advising their doctor.
    </div>
  </li>  

 


</ul>


<!-- Main gene.iobio tour --->
<ul id="tourMain" data-tourtitle="main">
 <li class="tlypageguide_left" data-tourtarget="#enter-gene-name">
    <div>
      Type in the gene name BRCA2 and select from the drop down list.
      <br><strong><em>Click on next arrow > to continue to next step.</em></strong>
    </div>
  </li>
    <li class="tlypageguide_top" data-tourtarget="#gene-track">
    <div>
      This shows the gene model for the canonical transcript.
    </div>
  </li>

  <li class="tlypageguide_bottom" data-tourtarget="#add-data-button">
    <div>
      Click on the 'Data' button to load your variant and alignment files.
      <br><br>
    </div>
    <div>
      1. Click on the 'Variants' dropdown and select 'Platinum Trio'.    
      <br><br>
    </div>
    <div>
      2. Click on the 'Alignments' dropdown and select 'Platinum Trio'.
      <br><br>
    </div>  
     <div>
      3. Click 'Load' to load all of the selected data into the app.
      <br><br>
    </div>
  </li>

  </li>
  
  <li class="tlypageguide_top" data-tourtarget="#vcf-track">
    <div>
      The variants for the gene are annotated using SnpEff and VEP to determine functional impact and effect, the allele frequencies from 1000 Genomes and ExAC are retrieved, and queries to ClinVar flag any variants with clinical significance.  All of this processing occurs in real-time.
      The the variants symbols to see more information.  
      <br><br>

    </div>
  </li>

  
  <li class="tlypageguide_top" data-tourtarget="#bam-depth">
    <div>
      When an alignment file is specified, the base coverage chart is displayed, allowing the user to identify regions of abnormal or unexpected sequence coverage.
    </div>
  </li>
  <li class="tlypageguide_top" data-tourtarget="#matrix-track">
    <div>
      The variants are ranked according to different criteria. These criteria can be reordered by clicking on their respective arrows. Click on a column to see the variant in the variant chart below. Unclick
      the column to toggle back to all variants.
    </div>
  </li>


  <li class="tlypageguide_right" data-tourtarget="#transcript-btn-group">
    <div>
      For the gene BRCA2, the variant were annotated and ranked based on the canonical transcript.
      <br><br>
      Other transcripts for this gene can be selected from this dropdown.
      <br><br>
      Click on the dropdown and select the another transcript.  Notice how the variants are re-annotated 
      according to this transcript.
    </div>
  </li>
  <li class="tlypageguide_top" data-tourtarget="#gene-source-config-button">
    <div>
     The Gencode transcript set is currently loaded.  To switch to the RefSeq transcripts, click this
     button and then it from the dropdown.
    </div>
  </li>

  <li class="tlypageguide_top" data-tourtarget="#gene-viz">
    <div>
     To zoom into a region of a gene, drag and drop to select a region. 
     <br><br>
     To zoom back out, click anywhere on the gene model.
    </div>
  </li>
  <li class="tlypageguide_right" data-tourtarget="#gene-region-buffer-input">
    <div>
      Adjust this value to display modify the size of displayed DNA upstream and downstream of the gene.
    </div>
  </li>


  <li class="tlypageguide_right" data-tourtarget="#button-find-missing-variants">
    <div>
      Variants can be called in the real-time when an alignment file is present.
      <br><br>
      Push the 'Call' button on icon bar. 
    </div> 
  </li>
  <li class="tlypageguide_right" data-tourtarget="#button-call-variants">
    <div>
      Push the 'Call from alignments' button to call variants using Freebayes.
      <br><br>
      Variants are called in the real-time.  In a few seconds, Freebayes will return
      the called variants.
    </div>
  </li>
    <li class="tlypageguide_bottom" data-tourtarget="#proband-variant-card #fb-variants">
    <div>
      Variants not present in the VCF file will be displayed above the loaded variants. 
    </div>
  </li>
  <li class="tlypageguide_right" data-tourtarget="#button-show-filters">
    <div>
      Push the 'Filter variants' button on the icon bar.
    </div>
  </li>
  <li class="tlypageguide_right" data-tourtarget="#filter-track svg#MODERATE">
    <div>
      The variants can be filtered by mousing over a specific label.  To apply multiple filters, click on multiple labels to toggle on or off.
      <br><br>
      Click on the Moderate impact.  
    </div>
  </li>

  <li class="tlypageguide_top" data-tourtarget="#proband-variant-card #displayed-variant-count">
    <div>
      The proband variant card now shows one variant.
      <br><br>
      Click on a variant to lock the tooltip and examine the variant in more detail.
    </div>
  </li>
  </li>


  <li class="tlypageguide_top" data-tourtarget="#examine-card">
    <div>
      Variant details are shown in the left panel.      
    </div>
  </li>
  <li class="tlypageguide_top" data-tourtarget="#examine-card a:contains('Bookmark')">
    <div>     
      Click on the 'Bookmark' link to bookmark this variant.
    </div>
  </li>
  </li>
  <li class="tlypageguide_right" data-tourtarget="#button-show-bookmarks">
    <div>
      Click on the 'Bookmarks' to see a list of all bookmarked variants.
    </div>
  </li>
  </li>
  <li class="tlypageguide_right" data-tourtarget="#bookmark-card #bookmark-panel">
    <div>
      All variants that are bookmarked are listed here.
    </div>
  </li>
  <li class="tlypageguide_top" data-tourtarget="#bookmark-card .favorite-indicator">
    <div>
      When reviewing a number of bookmarks, you can star the ones that are noteworthy.      
    </div>  
    <br><br>
      See our tour for Bookmarks for more details.
    </div>    
  </li>

   <li class="tlypageguide_right" data-tourtarget="#button-show-phenolyzer">
    <div>
      Click on the 'Genes' button in the icon bar.
      <br><br>
      Our application has integrated Phenolyzer, which produces a ranked gene list based on
      a phenotype terms.
      <br><br>
      See our tour for Phenolyzer for more detail.
    </div>
  </li>
   
   <li class="tlypageguide_right" data-tourtarget="#button-show-help">
    <div>
      This completes the gene.iobio tour.  You can run the tour any time by 
      selecting 'Tour' from the 'About' sidebar icon button.
      <br>
      <strong><em>Click the close button to end or click on next arrow > to re-run the tour.</em></strong>
    </div>
  </li>
</ul>


<!-- Tour of bookmarks functionality -->
<ul id="tourBookmarks"  data-tourtitle="bookmarks">

 

  <li class="tlypageguide_top" data-tourtarget="#feature-matrix">
    <div>
      You can bookmark variants by clicking on a variant column in the Ranked Variants card.
      <br><br>
      Bookmark a variant now by clicking on a column and then clicking on the 'Bookmark' link in the tooltip.
      Do this a few times to bookmark multiple variants.
    </div>
  </li>
  <li class="tlypageguide_top" data-tourtarget="#proband-variant-card #vcf-track">
    <div>
      You can also bookmark a variant by clicking on a variant and then clicking on the 'Bookmark' link in the
      tooltip.  
      <br><br>
      Click on a variant and click on the 'Bookmark' link in the tooltip.
    </div>
  </li>
  <li class="tlypageguide_top" data-tourtarget="#examine-card a:contains('Bookmark')">
    <div>     
      Or you can click on the 'Bookmark' link here to bookmark variant you are inspecting.
    </div>
  </li>
  </li>
  <li class="tlypageguide_right" data-tourtarget="#button-show-bookmarks">
    <div>
      To view the bookmarks, click on the 'Bookmarks' to see a list of all bookmarked variants.
    </div>
  </li>
  </li>
  <li class="tlypageguide_right" data-tourtarget="#bookmark-card #bookmark-panel">
    <div>
      All variants that are bookmarked are listed here.  You can click on a bookmark
      link to show the variant in the main app area.
    </div>
  </li>
  <li class="tlypageguide_top" data-tourtarget="#bookmark-card .favorite-indicator">
    <div>
      When reviewing a number of bookmarks, you can star the ones that are noteworthy.
    </div>
  </li>
  <li class="tlypageguide_left" data-tourtarget="#bookmark-card #edit-bookmarks">
    <div>
      To remove any bookmarks, click on the Edit link.  Then click the X next to the bookmarks you wish to remove.    
    </div>    
  </li>

  <li class="tlypageguide_top" data-tourtarget="#bookmark-card #import-bookmarks-dropdown">
    <div>
      If you are using a variant priorization app like GEMINI and have a list of variants,
      you can import them as bookmarks here.
      <br><br>
      1. Copy (ctrl+C) a tab-delimited list of variants.
      <br><br>
      2. Click on the 'Import' dropdown.
      <br><br>
      3. Paste (ctrl+V) your buffer into the text area.
      <br><br>
      4. Press the 'Done' button.
    </div>
  </li>
   <li class="tlypageguide_top" data-tourtarget="#bookmark-card #export-bookmarks-dropdown">
    <div>
      You can export the bookmarked variants into a tab-delimited file by clicking
      on the 'Export' dropdown.
      <br><br>
      The exported list will appear in a new tab in your browser window.  
    </div>
  </li>

</ul>


<!-- Tour of phenolyzer functionality -->
<ul id="tourPhenolyzer" data-tourtitle="phenolyzer">

   <li class="tlypageguide_right" data-tourtarget=".button-show-phenolyzer">
    <div>
      Click on the 'Genes' button in the icon bar.
    </div>
   </li>
   
   <li class="tlypageguide_right" data-tourtarget="#genes-card textarea">
    <div>
      Our application has integrated Phenolyzer, which produces a ranked gene list based on
      a phenotype terms.
      <br><br>
      Enter the search term 'breast cancer'
    </div>
   </li>


   <li class="tlypageguide_top" data-tourtarget="#genes-card #phenolyzer-go-button">
    <div>
      Press the 'Run' button.  In about a minute, phenolyzer will return a
      ranked gene list.
    </div>
   </li>


   <li class="tlypageguide_top" data-tourtarget="#genes-card #phenolyzer-results">
    <div>
      When the Phenolyzer run has finished, the ranked gene list will appear. 
      By default, the top 10 genes are selected.  
      <br><br>
      By checking a gene, it will appear as a 
      gene button in the main navigation area.
    </div>
   </li>


   <li class="tlypageguide_top" data-tourtarget="#gene-badge-button:eq(0)">
    <div>
      For each of the selected genes, a gene button will appear.
      <br><br>
      Notice that a checkmark will appear when analysis is done for a gene.
      <br><br>
      Badges will appear to the left of the gene name, indicating the highest impact
      variant or variants found that have a high SIFT or Polyphen score, a ClinVar
      entry, or a denovo or recessive mode of inheritance.  
      <br><br>
      Notice that this gene button has
      an orange rectangle, indicating that at least one variant of moderate impact exists
      for this gene.
    </div>
    </li>

    <li class="tlypageguide_top" data-tourtarget="#manage-gene-list">
      <div>
        To analyze the variants across all of the genes, click the 'Analyze all' link.  The
        app will analyze each gene, one at a time, in the background.  When analysis is complete for
        a gene, the green checkmark along with any gene badges will appear.
      </div>
    </li>

</ul>


