<div class="variant-card track-expand shadow-z-1 hide" style="min-height: 32px;padding-bottom:0px;background-color:white;">


  <div style="text-align:center;margin-top: 6px;margin-bottom: 6px;">
    <span id="card-relationship-label"  class="card-label heading" style="float:left;text-align:left;width:70px;">
      Sample
    </span>
                
    <span class="card-label heading" id="variant-card-label" style="float: left;margin-left: 5px;margin-right: 5px;width: 90px;text-align: left;"></span>

    
    <ul class="nav nav-pills" id="variant-badges" style="float:left;margin-left:4px;margin-top:2px">
      <li>           
            
            <span id="vcf-variant-count-label" class="badge-label hide">Variants Loaded</span>
            <span id="vcf-variant-count" class="badge"></span>
      </li>

      <li>
        <a href="javascript:void(0)" id="button-find-missing-variants" style="visibility:hidden;padding-top:0px">
            <i class="mdi-action-find-in-page"></i>
            <span id="missing-variant-count-label" class="badge-label" style="margin-left:-3px;">Call from alignments</span>
            <span id="missing-variant-count" style="margin-left:0px;" class="badge"></span>
        </a>
      </li>
      <li style="padding-left:10px;" >
            <span id="effectCategory-flag" class="filter-flag hide label label-primary">Effect</span>
            <span id="impact-flag"class="filter-flag hide label label-primary">Impact</span>
            <span id="type-flag" class="filter-flag hide label label-primary">Type</span>
            <span id="zygosity-flag" class="filter-flag hide label label-primary">Zygosity</span>
            <span id="afexaclevel-flag" class="filter-flag hide label label-primary">AF ExAC</span>
            <span id="af1000glevel-flag" class="filter-flag hide label label-primary">AF 1000G</span>
            <span id="afexacrange-flag" class="hide label label-primary">AF ExAC range</span>
            <span id="af1000grange-flag" class="hide label label-primary">AF 1000G range</span>
            <span id="inheritance-flag" class="filter-flag hide label label-primary">Inheritance</span>
            <span id="clinvar-flag" class="filter-flag hide label label-primary">ClinVar</span>
            <span id="coverage-flag" class="filter-flag hide label label-primary">Coverage</span>
            <span id="region-flag" class="hide label label-info">Zoom into region</span>
            <span id="displayed-variant-count" class="badge hide"></span>
      </li>

    </ul>

    <div style="display: inline;width: 100%;text-align: center;clear: both;margin-left: -350px;">
      <div class="loader vcfloader hide"  style="display: inline;">
        <span class="loader-label"></span>
        <img src="assets/images/wheel.gif">
      </div>
      <div class="loader covloader hide" style="display: inline;padding-left: 20px;">
        <span class="loader-label"></span>      
        <img src="assets/images/wheel.gif">
      </div>
    </div>


    <a href="javascript:void(0)" id="minimize-button" style="float:right;margin-top:-2px;text-decoration:none;">
      <i class="mdi-content-remove"></i>
    </a>
    <a href="javascript:void(0)" id="shrink-button" style="float:right;margin-top:-2px;text-decoration:none;">  
      <i class="mdi-image-crop-7-5"></i>
    </a>
    <a href="javascript:void(0)" id="expand-button"style="float:right;margin-top:-2px;text-decoration:none;">
      <i class="mdi-image-crop-din"></i>
    </a>

   



  </div>
  
 
    

  <div id="variant-panel" style="clear:both;">
     <div id="multiple-sample-warning" class="hide alert alert-dismissable alert-info" 
       style="width: 570px; background-color: rgb(249, 237, 184); border: solid 1px rgb(237, 201, 103);color: rgb(132, 132, 132);text-align: center;">

        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Warning:  </strong>The variant file contains multiple samples. Defaulting to first sample in file.
    </div>
    <div id="no-variants-warning" class="hide alert alert-dismissable alert-info" 
       style="width: 570px; background-color: rgb(249, 237, 184); border: solid 1px rgb(237, 201, 103);color: rgb(132, 132, 132);text-align: center;">

        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Warning:  </strong> No variants found.  Make sure that the variant file is a valid URL or file.
                                    <br>The variant file must be gzipped compressed (.vcf.gz) and accompanied with a tabix (.vcf.gz.tbi) file.
    </div>
    <div id="no-ref-found-warning" class="hide alert alert-dismissable alert-info" 
       style="width: 570px; background-color: rgb(249, 237, 184); border: solid 1px rgb(237, 201, 103);color: rgb(132, 132, 132);text-align: center;">

        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Warning:  </strong> <span id="message"></span>
    </div>
    <div id="clinvar-warning" class="hide alert alert-dismissable alert-info" 
       style="width: 300px; background-color: rgb(249, 237, 184); border: solid 1px rgb(237, 201, 103);color: rgb(132, 132, 132);text-align: center;">

        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Warning:  </strong> Error accessing ClinVar.
    </div>

    <div id="vcf-track" class="track hide" >
             
      <div class="track-chart">
          <div>
            <div  id="fb-chart-label" class="chart-label hide" style="margin-bottom: -10px;">
              Variants called
            </div>
            <div id="fb-variants">
            </div>
            <hr id="fb-separator" class="hide" style="margin-top: 0px;margin-bottom: 0px;">
          </div>
          <div >
            <div id="vcf-chart-label" class="chart-label hide" 
             style="margin-top: 4px;margin-bottom: -30px;">
              Variants loaded
            </div>
            <div id="vcf-variants">
            </div>
          </div>
      </div>
    </div>


    <div id="zoom-region-chart"  class="track"></div>


    <div id="bam-track" class="track hide">
      <div class="track-chart">

      
          <div >
            <div id="bam-chart-label" class="chart-label" style="visibility:hidden;margin-top: 24px;margin-bottom: -17px;">Coverage
            </div>
            <div id="bam-depth"  style="visibility:hidden">
            </div>
          </div>

      </div>
    </div>

  </div>
</div>