<div id="screencast-panel" class="hide">

  <div id="screencast-getting-started" class="hide video-container">
    <button  class="video-stop-button btn btn-default" onclick="welcomePanel.stopVideo('screencast-getting-started')">
      <i class="material-icons">arrow_back</i>
    </button>
    <h4>Getting started</h4>
    <div class="iframe-placeholder"></div>
  </div>

  <div id="screencast-coverage-analysis" class="hide video-container" >
      <button class="video-stop-button btn btn-default" onclick="welcomePanel.stopVideo('screencast-coverage-analysis')">
        <i class="material-icons">arrow_back</i>
      </button>
      <h4>Assessing insufficient coverage</h4>
      <div class="iframe-placeholder"></div>
  </div>

  <div id="screencast-saving-analysis" class="hide video-container" >
      <button class="video-stop-button btn btn-default" onclick="welcomePanel.stopVideo('screencast-saving-analysis')">
        <i class="material-icons">arrow_back</i>
      </button>
      <h4>Saving your analysis with Bookmarks</h4>
      <div class="iframe-placeholder"></div>
  </div>

  <div id="screencast-multi-gene-analysis" class="hide video-container" >
      <button class="video-stop-button btn btn-default" onclick="welcomePanel.stopVideo('screencast-multi-gene-analysis')">
        <i class="material-icons" style="text-align: left;">
          arrow_back
        </i>
      </button>
      <h4>Multi-gene analysis</h4>
      <div class="iframe-placeholder"></div>
  </div>
</div>





<div id="welcome-area" class="hide">
  <div class="welcome-panel" >
    <div id="welcome-label">
      A web tool for disease-causing variant interrogation
    </div>
    <div id="welcome-panel-content">

      <div id="video-thumbprint-panel">
        <div id="video-thumbprint-heading-large">Getting started</div>
        <div id="video-thumbprint-content">

          <div class="video-thumbprint-well-large shadow-z-2">
            <div id="welcome-screencast-panel-getting-started" class="video-thumbprint-large" >
              <i class="material-icons" id="play-button" onclick="welcomePanel.playVideo('screencast-getting-started')">
                play_arrow
              </i>
            </div>
            <div class="video-title"></div>
          </div>
        </div>
      </div>

      <div class="description-paragraph">
        <div>

          <div>
            <i class="material-icons">check_circle</i>
            <span class="bullet-item">Real-time analysis</span>
          </div>

          <div>
            <i class="material-icons">check_circle</i>
            <span class="bullet-item">On-the-fly annotation</span>
          </div>
          <div>
            <i class="material-icons">check_circle</i>
            <span class="bullet-item">Integrated genomic visualizations</span>
          </div>
          <div>
            <i class="material-icons">check_circle</i>
            <span class="bullet-item">On-demand variant calling</span>
          </div>
        </div>

      </div>

    </div>




    <div style="margin-top:30px">
      <button id="load-demo-data" class="btn btn-raised btn-default" onclick="$('#welcome-panel').addClass('hide');dataCard.loadDemoData()">
        <span style="">Try it with demo data</span>
      </button>
      <button   class="btn btn-raised btn-default" onclick="$('#welcome-panel').addClass('hide');pageGuide.open()">
        <span style="">Take guided tour</span>
      </button>
    </div>
  </div>

  <div class="welcome-panel" style="background:transparent;width:100%;margin-top:30px">
    <div id="welcome-label">
     <a  id="what-is-new-link" style="" data-toggle="collapse" href="#what-is-new" aria-expanded="true">
      Learn more
     </a>
    </div>
    <div id="what-is-new" class="collapse in" aria-expanded="true">
      <div id="welcome-panel-content"  style="display:flex;justify-content:space-around">


        <div id="video-thumbprint-panel">
          <div id="video-thumbprint-content">


            <a href="http://iobio.io/2017/09/27/loading-data/" target="_new">
              <div class="video-thumbprint-well ">
                <div class="video-thumbprint shadow-z-2" >
                  <img src="http://iobio.io/public/images/blog/loading_data/blog_image_data.jpg" width="100%" height="100%">
                </div>
                <div class="video-title">
                  How to load your data
                </div>
              </div>
            </a>

            <div class="video-thumbprint-well ">
              <div id="welcome-screencast-panel-saving-analysis" class="video-thumbprint shadow-z-2" >
                <i class="material-icons" id="play-button" onclick="welcomePanel.playVideo('screencast-saving-analysis')">play_arrow
                </i>
              </div>
              <div class="video-title">Saving your analysis video</div>
            </div>


            <a href="http://iobio.io/2017/04/26/gene_2.3.0/" target="_new">
              <div class="video-thumbprint-well ">
                <div class="video-thumbprint shadow-z-2" >
                  <img src="http://iobio.io/public/images/blog/gene_2.3.0/main.png" width="100%" height="100%">
                </div>
                <div class="video-title">
                  Saving and loading your analysis
                </div>
              </div>
            </a>

            <div class="video-thumbprint-well ">
              <div id="welcome-screencast-panel-coverage-analysis" class="video-thumbprint shadow-z-2" >
                <i class="material-icons" id="play-button" onclick="welcomePanel.playVideo('screencast-coverage-analysis')">play_arrow
                </i>
              </div>
              <div class="video-title">Coverage analysis video</div>
            </div>

            <a href="http://iobio.io/2017/07/11/coverage/" target="_new">
              <div class="video-thumbprint-well ">
                <div class="video-thumbprint shadow-z-2" >
                  <img src="http://iobio.io/public/images/blog/coverage/main.png" width="100%" height="100%">
                </div>
                <div class="video-title">
                  Coverage analysis
                </div>
              </div>
            </a>

            <div class="video-thumbprint-well ">
              <div id="welcome-screencast-panel-multigene-analysis" class="video-thumbprint shadow-z-2">
                <i class="material-icons" id="play-button" onclick="welcomePanel.playVideo('screencast-multi-gene-analysis')">play_arrow
                </i>
              </div>
              <div class="video-title">Multi-gene analysis video</div>
            </div>


            <a href="http://iobio.io/2017/09/29/gene_2.5.0/" target="_new">
              <div class="video-thumbprint-well ">
                <div class="video-thumbprint shadow-z-2" >
                  <img src="http://iobio.io/public/images/blog/gene_2.5.0/banner.png" width="100%" height="100%">
                </div>
                <div class="video-title">
                  ClinVar and gnomAD
                </div>
              </div>
            </a>







          </div>
        </div>
      </div>
    </div>



  </div>

</div>
